openapi: 3.0.3

info:
  title: API de Herramientas y Equipos Retirados
  description: >
    Módulo de backend de la app Wifix (Fase 1). Cubre dos dominios del
    servicio de operaciones de campo:

      1. HERRAMIENTAS — almacenamiento de resultados de mediciones:
         medición de distancia, test de velocidad, mapa de calor WiFi,
         ping y traceroute.
      2. EQUIPOS RETIRADOS — registro de equipos retirados o reemplazados.

    CLAVE DE IDENTIFICACIÓN (FASE 1)
    ----------------------------------------------------------------------
    En la Fase 1 la clave práctica de cada registro es `accountNumber`:
    el número de cuenta del cliente que el técnico ingresa en la app.
    Los demás identificadores (`clientId`, `visitId`, `technicianId`) son
    opcionales: provendrán de un sistema upstream aún por definir y en la
    Fase 1 se completan con valores de prueba. `contractId` también es
    opcional y en una fase posterior será reemplazado por `taskId`.

    AUTENTICACIÓN
    ----------------------------------------------------------------------
    La app tiene login propio. POST /auth/login devuelve un JWT que el
    resto de endpoints exige en el header Authorization: Bearer.

    DATOS DE SISTEMAS EXTERNOS (MOCKUP)
    ----------------------------------------------------------------------
    Los campos que provienen de sistemas de la operadora (Comarch/TYTAN,
    FSM, ISP Monitor, ACS, TEC, RMS) se sirven en esta etapa con datos
    simulados, para demostrar y probar la app. El contrato no cambia
    cuando se conecten las APIs reales.
  version: 1.0.0
  contact:
    name: Tulpa Solutions S.A.S.

servers:
  - url: https://api.ejemplo.com/herramientas/v1
    description: Producción (URL definitiva por coordinar)
  - url: http://localhost:8080/herramientas/v1
    description: Desarrollo local

tags:
  - name: Catálogos
    description: Datos de referencia de solo lectura.
  - name: Medición de Distancia
    description: Herramienta de odómetro GPS (campo 22).
  - name: Test de Velocidad
    description: Resultados de speedtest (campo 23).
  - name: Mapa de Calor WiFi
    description: Mediciones de potencia de señal WiFi por habitación (campo 24).
  - name: Ping
    description: Resultados de pruebas de ping (campo 25).
  - name: Traceroute
    description: Resultados de pruebas de traceroute (campo 26).
  - name: Equipos Retirados
    description: Registro de equipos retirados o reemplazados (campo 27).
  - name: Media
    description: Subida de archivos (fotos de código de barras, etc.).
  - name: Historial de la Cuenta
    description: Consulta agregada de los registros de este módulo por cuenta.
  - name: Autenticación
    description: Login de la app y emisión de token.
  - name: Datos del Cliente
    description: Perfil, status y actualización de datos del cliente (campos 1-5, 7).
  - name: Diagnóstico de Red
    description: NAPs, métricas de red, eventos del nodo y red local (campos 6, 8-14, 19-21).
  - name: Tareas y Visitas
    description: Tareas insatisfactorias y visitas anteriores (campos 15-16).

security:
  - bearerAuth: []

paths:

  # ====================================================================
  # AUTENTICACIÓN
  # ====================================================================

  /auth/login:
    post:
      tags: [Autenticación]
      summary: Iniciar sesión
      description: Valida correo y contraseña y devuelve un JWT.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/me:
    get:
      tags: [Autenticación]
      summary: Datos del usuario autenticado
      operationId: getCurrentUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ====================================================================
  # CATÁLOGOS
  # ====================================================================

  /catalogs/speedtest-servers:
    get:
      tags: [Catálogos]
      summary: Lista de servidores de test de velocidad
      operationId: listSpeedtestServers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpeedtestServer'

  /catalogs/network-servers:
    get:
      tags: [Catálogos]
      summary: Lista de servidores comunes para ping y traceroute
      operationId: listNetworkServers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NetworkServer'

  /catalogs/equipment-models:
    get:
      tags: [Catálogos]
      summary: Lista de modelos de equipo
      description: >
        Modelos de equipo con el tipo de campo de serie que debe leerse
        del código de barras (SN, HOST-SN, PON-SN, GPON-SN, D-SN).
      operationId: listEquipmentModels
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EquipmentModel'

  /catalogs/removal-reasons:
    get:
      tags: [Catálogos]
      summary: Lista de motivos de retiro
      operationId: listRemovalReasons
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RemovalReason'

  # ====================================================================
  # HERRAMIENTAS — MEDICIÓN DE DISTANCIA (campo 22)
  # ====================================================================

  /distance-measurements:
    get:
      tags: [Medición de Distancia]
      summary: Lista de mediciones de distancia
      operationId: listDistanceMeasurements
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DistanceMeasurement'
    post:
      tags: [Medición de Distancia]
      summary: Registrar una medición de distancia
      operationId: createDistanceMeasurement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistanceMeasurementInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceMeasurement'
        '400':
          $ref: '#/components/responses/BadRequest'

  /distance-measurements/{id}:
    get:
      tags: [Medición de Distancia]
      summary: Obtener una medición de distancia
      operationId: getDistanceMeasurement
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceMeasurement'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HERRAMIENTAS — TEST DE VELOCIDAD (campo 23)
  # ====================================================================

  /speedtests:
    get:
      tags: [Test de Velocidad]
      summary: Lista de tests de velocidad
      operationId: listSpeedtests
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/ContractIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Speedtest'
    post:
      tags: [Test de Velocidad]
      summary: Registrar un test de velocidad
      operationId: createSpeedtest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeedtestInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Speedtest'
        '400':
          $ref: '#/components/responses/BadRequest'

  /speedtests/{id}:
    get:
      tags: [Test de Velocidad]
      summary: Obtener un test de velocidad
      operationId: getSpeedtest
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Speedtest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HERRAMIENTAS — MAPA DE CALOR WIFI (campo 24)
  # ====================================================================

  /wifi-heatmaps:
    get:
      tags: [Mapa de Calor WiFi]
      summary: Lista de mapas de calor WiFi
      operationId: listWifiHeatmaps
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WifiHeatmap'
    post:
      tags: [Mapa de Calor WiFi]
      summary: Registrar un mapa de calor WiFi
      description: >
        Crea un relevamiento de cobertura WiFi con una o más mediciones
        por habitación. Si la vivienda tiene un solo piso se usa floor = 1.
      operationId: createWifiHeatmap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiHeatmapInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiHeatmap'
        '400':
          $ref: '#/components/responses/BadRequest'

  /wifi-heatmaps/{id}:
    get:
      tags: [Mapa de Calor WiFi]
      summary: Obtener un mapa de calor WiFi
      operationId: getWifiHeatmap
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiHeatmap'
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountNumber}/wifi-access-points:
    parameters:
      - $ref: '#/components/parameters/AccountNumberPath'
    get:
      tags: [Mapa de Calor WiFi]
      summary: Listar APs WiFi registrados de una cuenta
      description: >
        APs (router, extensores, nodos mesh) que el técnico identificó en
        visitas anteriores de esta cuenta. El frontend los usa para
        pre-cargar nombres por BSSID al iniciar un nuevo relevamiento.
      operationId: listAccountWifiAccessPoints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WifiAccessPoint'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Mapa de Calor WiFi]
      summary: Registrar (o actualizar) un AP WiFi de la cuenta
      description: >
        Crea un `WifiAccessPoint` para la cuenta. Si ya existe uno con el
        mismo `bssid` para esta cuenta, el servidor lo actualiza
        (upsert por `accountNumber` + `bssid`).
      operationId: createAccountWifiAccessPoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiAccessPointInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiAccessPoint'
        '200':
          description: Actualizado (upsert)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiAccessPoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /wifi-access-points/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    patch:
      tags: [Mapa de Calor WiFi]
      summary: Renombrar o corregir un AP WiFi
      operationId: updateWifiAccessPoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiAccessPointUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiAccessPoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HERRAMIENTAS — PING (campo 25)
  # ====================================================================

  /ping-tests:
    get:
      tags: [Ping]
      summary: Lista de pruebas de ping
      operationId: listPingTests
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PingTest'
    post:
      tags: [Ping]
      summary: Registrar una prueba de ping
      description: >
        Almacena el resultado de un ping. Puede asociarse opcionalmente a
        una habitación de un mapa de calor mediante heatmapId y roomName.
      operationId: createPingTest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PingTestInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingTest'
        '400':
          $ref: '#/components/responses/BadRequest'

  /ping-tests/{id}:
    get:
      tags: [Ping]
      summary: Obtener una prueba de ping
      operationId: getPingTest
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingTest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HERRAMIENTAS — TRACEROUTE (campo 26)
  # ====================================================================

  /traceroute-tests:
    get:
      tags: [Traceroute]
      summary: Lista de pruebas de traceroute
      operationId: listTracerouteTests
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TracerouteTest'
    post:
      tags: [Traceroute]
      summary: Registrar una prueba de traceroute
      operationId: createTracerouteTest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TracerouteTestInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracerouteTest'
        '400':
          $ref: '#/components/responses/BadRequest'

  /traceroute-tests/{id}:
    get:
      tags: [Traceroute]
      summary: Obtener una prueba de traceroute
      operationId: getTracerouteTest
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracerouteTest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # EQUIPOS RETIRADOS (campo 27)
  # ====================================================================

  /retired-equipment:
    get:
      tags: [Equipos Retirados]
      summary: Lista de equipos retirados
      operationId: listRetiredEquipment
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - name: removalReasonCode
          in: query
          description: Filtrar por código de motivo de retiro.
          schema:
            $ref: '#/components/schemas/RemovalReasonCode'
        - name: serialValue
          in: query
          description: Buscar por número de serie del equipo.
          schema:
            type: string
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/RetiredEquipment'
    post:
      tags: [Equipos Retirados]
      summary: Registrar un equipo retirado o reemplazado
      description: >
        La foto del código de barras se sube previamente con POST /media y
        aquí se referencia por barcodePhotoId. El número de serie llega ya
        decodificado por la app (campo a leer definido según el modelo).
      operationId: createRetiredEquipment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetiredEquipmentInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetiredEquipment'
        '400':
          $ref: '#/components/responses/BadRequest'

  /retired-equipment/{id}:
    get:
      tags: [Equipos Retirados]
      summary: Obtener un equipo retirado
      operationId: getRetiredEquipment
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetiredEquipment'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # MEDIA
  # ====================================================================

  /media:
    post:
      tags: [Media]
      summary: Subir un archivo
      description: >
        Sube una imagen (por ejemplo la foto del código de barras) y
        devuelve un identificador y una URL para referenciarla luego.
      operationId: uploadMedia
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Archivo a subir (JPEG o PNG).
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaFile'
        '400':
          $ref: '#/components/responses/BadRequest'

  /media/{id}:
    get:
      tags: [Media]
      summary: Obtener metadatos de un archivo
      operationId: getMedia
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaFile'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HISTORIAL DE LA CUENTA
  # ====================================================================

  /accounts/{accountNumber}/tool-history:
    get:
      tags: [Historial de la Cuenta]
      summary: Historial agregado de una cuenta
      description: >
        Devuelve, en una sola respuesta, los registros de este módulo
        asociados a un número de cuenta: mediciones de distancia, tests de
        velocidad, mapas de calor, pings, traceroutes y equipos retirados.
      operationId: getAccountToolHistory
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: Número de cuenta del cliente.
          schema:
            type: string
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToolHistory'

  # ====================================================================
  # DATOS DEL CLIENTE (campos 1-5, 7)
  # ====================================================================

  /accounts/{accountNumber}/client-profile:
    parameters:
      - $ref: '#/components/parameters/AccountNumberPath'
    get:
      tags: [Datos del Cliente]
      summary: Perfil del cliente
      description: >
        Nombres, dirección, teléfonos, plan y velocidad contratada
        (campos 1, 2, 3, 5). Origen real: Comarch/TYTAN e ISP Monitor.
      operationId: getClientProfile
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Datos del Cliente]
      summary: Actualizar datos del cliente
      description: >
        Módulo de actualización de datos (campo 4). Origen real:
        Comarch/TYTAN.
      operationId: updateClientProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientProfileUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountNumber}/contract-status:
    get:
      tags: [Datos del Cliente]
      summary: Status del cliente por contrato/cuenta
      description: >
        Nombre del cliente y status de cada cuenta: activa, suspendida o
        terminada (campo 7). Origen real: Comarch/TYTAN.
      operationId: getContractStatus
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # DIAGNÓSTICO DE RED (campos 6, 8-14, 19-21)
  # ====================================================================

  /naps/nearby:
    get:
      tags: [Diagnóstico de Red]
      summary: NAPs cercanas a una coordenada
      description: >
        NAPs cercanas con coordenada, distancia en metros y puertos
        ocupados/libres (campo 6). La consulta es por coordenada (GPS del
        técnico o de la tarea), no por número de cuenta, igual que la
        pestaña "GPON" de FSM. Origen real: TEC
        (`GET /api/tec/naps/{lat},{lng}`, autenticación Digest).
      operationId: getNearbyNaps
      parameters:
        - name: lat
          in: query
          required: true
          description: Latitud desde la que se busca.
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: lng
          in: query
          required: true
          description: Longitud desde la que se busca.
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
      responses:
        '200':
          description: OK. Lista ordenada por distancia ascendente (vacía si no hay NAPs en el sector).
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NearbyNap'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /naps/{napCode}/ports:
    get:
      tags: [Diagnóstico de Red]
      summary: Puertos ocupados por NAP
      description: >
        Clientes por puerto de la NAP, con su status A (activo) o S
        (suspendido) (campo 8). El napCode se obtiene de la foto del
        código de la NAP, decodificada en la app. Origen real: TEC.
      operationId: getNapPorts
      parameters:
        - name: napCode
          in: path
          required: true
          description: Código de la NAP.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NapPorts'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /terminals/{id}:
    get:
      tags: [Diagnóstico de Red]
      summary: Estado del equipo, de la red y evento asociado
      description: >
        Ficha puntual del equipo del cliente: estado del terminal, estado de
        la red y evento (daño) asociado. `id` es el serial GPON (fibra) o la
        MAC del cablemódem (HFC); las MAC se aceptan con o sin separadores.
        Origen real: ISP Monitor (`GET /api/isp/terminals/{id}`).
      operationId: getTerminal
      parameters:
        - $ref: '#/components/parameters/TerminalIdPath'
      responses:
        '200':
          description: >
            OK. Si el identificador no existe en ISP Monitor, `found` es false
            (la API de operadora responde 204 en ese caso).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /terminals/{id}/diagnostics:
    get:
      tags: [Diagnóstico de Red]
      summary: Panel completo de ISP Monitor (campos 9-12)
      description: >
        Ficha del equipo más las seis series de las últimas 24 horas
        (estado, señal a ruido y errores FEC, cada una para el terminal y
        para la red) en una sola llamada. Los siete endpoints upstream se
        consultan en paralelo: si alguno falla, el resto igual se devuelve y
        el fallo se reporta en `errors`.
      operationId: getTerminalDiagnostics
      parameters:
        - $ref: '#/components/parameters/TerminalIdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalDiagnostics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /terminals/{id}/series/{scope}/{metric}:
    get:
      tags: [Diagnóstico de Red]
      summary: Serie de 24 horas de una métrica
      description: >
        Serie individual de las últimas 24 horas. Combinaciones y endpoint
        upstream correspondiente:
        `terminal/status` → `/api/isp/status/{id}`;
        `network/status` → `/api/isp/network/online/{id}`;
        `terminal/snr` → `/api/isp/cablemodem/snr/{id}`;
        `network/snr` → `/api/isp/network/snr/{id}`;
        `terminal/codewords` → `/api/isp/cablemodem/codewords/{id}`;
        `network/codewords` → `/api/isp/network/codewords/{id}`.
      operationId: getTerminalSeries
      parameters:
        - $ref: '#/components/parameters/TerminalIdPath'
        - name: scope
          in: path
          required: true
          description: Ámbito de la serie — el equipo del cliente o la red/nodo.
          schema:
            type: string
            enum: [terminal, network]
        - name: metric
          in: path
          required: true
          description: >
            Métrica: `status` (disponibilidad, campo 12), `snr` (señal a
            ruido, campo 10) o `codewords` (FEC corregidos y sin corregir,
            campo 11).
          schema:
            type: string
            enum: [status, snr, codewords]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Series24h'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/network-metrics:
    get:
      tags: [Diagnóstico de Red]
      summary: Métricas de red del cliente
      description: >
        Niveles de señal RX/TX (GPON y HFC), señal a ruido (HFC), FEC
        corregidos y sin corregir (HFC), caídas en 24 horas y tráfico de
        internet (campos 9-13). Origen real: ISP Monitor.
      operationId: getNetworkMetrics
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountNumber}/node-events:
    get:
      tags: [Diagnóstico de Red]
      summary: Daños (eventos) en el nodo
      description: >
        Eventos o daños del nodo que da servicio a la cuenta (campo 14).
        Origen real: RMS.
      operationId: getNodeEvents
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NodeEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/lan-devices:
    get:
      tags: [Diagnóstico de Red]
      summary: Equipos en la red local (tabla DHCP)
      description: >
        Lista de equipos conectados en la red local del cliente
        (campo 19). Origen real: ISP / ACS.
      operationId: getLanDevices
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LanDevice'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/wifi-devices:
    get:
      tags: [Diagnóstico de Red]
      summary: Dispositivos conectados por WiFi
      description: >
        Dispositivos conectados por WiFi en cada banda (2.4 y 5 GHz) con
        su nivel de señal (campo 20). Origen real: ISP / ACS.
      operationId: getWifiDevices
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WifiDevice'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/wifi-config:
    parameters:
      - $ref: '#/components/parameters/AccountNumberPath'
    get:
      tags: [Diagnóstico de Red]
      summary: Configuración WiFi actual
      operationId: getWifiConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Diagnóstico de Red]
      summary: Cambiar SSID y contraseña
      description: >
        Cambia el SSID y la contraseña del WiFi del cliente (campo 21).
        Operación sensible. Origen real: ACS.
      operationId: updateWifiConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiConfigUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # TAREAS Y VISITAS (campos 15-16)
  # ====================================================================

  /accounts/{accountNumber}/unsatisfactory-tasks:
    get:
      tags: [Tareas y Visitas]
      summary: Observaciones de cierre de tareas insatisfactorias
      description: >
        Tareas insatisfactorias previas con fecha/hora, motivo y
        observación de cierre (campo 15). Origen real: FSM.
      operationId: getUnsatisfactoryTasks
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClosedTask'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/previous-visits:
    get:
      tags: [Tareas y Visitas]
      summary: Motivos y observaciones de visitas anteriores
      description: >
        Visitas anteriores con fecha/hora, motivo y observación de cierre
        (campo 16). Origen real: FSM.
      operationId: getPreviousVisits
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClosedTask'
        '401':
          $ref: '#/components/responses/Unauthorized'

# ======================================================================
# COMPONENTES
# ======================================================================

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT emitido por POST /auth/login.

  # --------------------------------------------------------------------
  # PARÁMETROS REUTILIZABLES
  # --------------------------------------------------------------------
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: Identificador del recurso.
      schema:
        type: string
        format: uuid
    AccountNumberPath:
      name: accountNumber
      in: path
      required: true
      description: Número de cuenta del cliente.
      schema:
        type: string
    TerminalIdPath:
      name: id
      in: path
      required: true
      description: >
        Serial GPON (fibra) o MAC del cablemódem (HFC). Las MAC se aceptan
        con o sin separadores; el backend las normaliza a hexadecimal plano
        en mayúsculas porque IIS rechaza los ":" en la ruta.
      schema:
        type: string
        example: ZTEGC1234567
    AccountNumberFilter:
      name: accountNumber
      in: query
      description: Filtrar por número de cuenta del cliente (clave de Fase 1).
      schema:
        type: string
    ClientIdFilter:
      name: clientId
      in: query
      description: Filtrar por cliente (referencia upstream, opcional).
      schema:
        type: string
    ContractIdFilter:
      name: contractId
      in: query
      description: Filtrar por contrato (referencia upstream, opcional).
      schema:
        type: string
    VisitIdFilter:
      name: visitId
      in: query
      description: Filtrar por visita u orden de trabajo (referencia upstream, opcional).
      schema:
        type: string
    TechnicianIdFilter:
      name: technicianId
      in: query
      description: Filtrar por técnico (referencia upstream, opcional).
      schema:
        type: string
    DateFrom:
      name: dateFrom
      in: query
      description: Fecha-hora inicial del rango (ISO 8601).
      schema:
        type: string
        format: date-time
    DateTo:
      name: dateTo
      in: query
      description: Fecha-hora final del rango (ISO 8601).
      schema:
        type: string
        format: date-time
    Page:
      name: page
      in: query
      description: Número de página (inicia en 1).
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: pageSize
      in: query
      description: Cantidad de elementos por página.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  # --------------------------------------------------------------------
  # RESPUESTAS REUTILIZABLES
  # --------------------------------------------------------------------
  responses:
    BadRequest:
      description: Solicitud inválida.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Token ausente, inválido o expirado / credenciales incorrectas.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Recurso no encontrado.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  # --------------------------------------------------------------------
  # ESQUEMAS
  # --------------------------------------------------------------------
  schemas:

    # ---- Comunes -----------------------------------------------------

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Código de error legible por máquina.
          example: VALIDATION_ERROR
        message:
          type: string
          description: Descripción del error legible por humanos.
          example: El campo accountNumber es obligatorio.
        details:
          type: array
          description: Detalle por campo, cuando aplica.
          items:
            type: object
            properties:
              field:
                type: string
              issue:
                type: string

    PageInfo:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pageSize:
          type: integer
          example: 20
        totalItems:
          type: integer
          example: 137
        totalPages:
          type: integer
          example: 7

    PagedResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageInfo'
        data:
          type: array
          items: {}

    GeoPoint:
      type: object
      description: Coordenada geográfica.
      required: [latitude, longitude]
      properties:
        latitude:
          type: number
          format: double
          example: -0.180653
        longitude:
          type: number
          format: double
          example: -78.467834

    ServiceContext:
      type: object
      description: >
        Referencias del registro hacia el cliente y la orden de trabajo.
        En la Fase 1 la clave práctica es `accountNumber`. Los demás
        identificadores son opcionales: provendrán de un sistema upstream
        por definir y en Fase 1 se completan con valores de prueba.
      required: [accountNumber]
      properties:
        accountNumber:
          type: string
          description: >
            Número de cuenta del cliente ingresado por el técnico. Clave
            práctica de la Fase 1.
          example: WX-548210
        clientId:
          type: string
          description: >
            Identificador del cliente. Opcional. Referencia upstream por
            definir; en Fase 1 es un valor de prueba.
        contractId:
          type: string
          description: >
            Identificador del contrato. Opcional. En una fase posterior
            será reemplazado por `taskId`.
        visitId:
          type: string
          description: >
            Identificador de la visita u orden de trabajo. Opcional.
            Referencia upstream por definir; en Fase 1 es un valor de prueba.
        technicianId:
          type: string
          description: >
            Identificador del técnico. Opcional. No hay autenticación en
            la Fase 1.

    # ---- Catálogos ---------------------------------------------------

    SpeedtestServer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: Servidor Quito
        host:
          type: string
          example: quito.speedtest.example.com
        city:
          type: string
          example: Quito
        location:
          $ref: '#/components/schemas/GeoPoint'
        active:
          type: boolean
          default: true

    NetworkServer:
      type: object
      description: Servidor común sugerido para pruebas de ping y traceroute.
      properties:
        id:
          type: string
        name:
          type: string
          example: Google DNS
        target:
          type: string
          description: IP o URL del servidor.
          example: 8.8.8.8
        type:
          type: string
          enum: [DNS, GATEWAY, CDN, GENERIC]
        active:
          type: boolean
          default: true

    EquipmentSerialFieldType:
      type: string
      description: >
        Campo del código de barras que debe leerse como número de serie
        según el modelo de equipo.
      enum: [SN, HOST-SN, PON-SN, GPON-SN, D-SN]

    EquipmentCategory:
      type: string
      enum: [DECODIFICADOR, DECODIFICADOR_HD, MTA, ONU, ONT, ROUTER]

    EquipmentModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: ONT Huawei OptiXstar
        category:
          $ref: '#/components/schemas/EquipmentCategory'
        serialFieldType:
          $ref: '#/components/schemas/EquipmentSerialFieldType'
        brand:
          type: string
          example: Huawei
        active:
          type: boolean
          default: true

    RemovalReasonCode:
      type: string
      description: Código del motivo de retiro de un equipo.
      enum:
        - DANO_FISICO
        - NO_ENCIENDE
        - PUERTO_DANADO
        - EQUIPO_INHIBIDO
        - NO_DA_SERVICIO
        - NO_SE_APROVISIONA
        - EQUIPO_OK_CANCELACION
        - OTROS

    RemovalReason:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/RemovalReasonCode'
        label:
          type: string
          example: Puerto LAN o RF dañado (no da conectividad)
        active:
          type: boolean
          default: true

    MediaFile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        contentType:
          type: string
          example: image/jpeg
        sizeBytes:
          type: integer
        createdAt:
          type: string
          format: date-time

    # ---- Medición de distancia (campo 22) ----------------------------

    DistanceMeasurementInput:
      allOf:
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          required: [distanceMeters, measuredAt]
          properties:
            distanceMeters:
              type: number
              format: double
              description: Distancia recorrida del punto A al punto B, en metros.
              example: 142.7
            startPoint:
              $ref: '#/components/schemas/GeoPoint'
            endPoint:
              $ref: '#/components/schemas/GeoPoint'
            measuredAt:
              type: string
              format: date-time
            notes:
              type: string

    DistanceMeasurement:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            createdAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/DistanceMeasurementInput'

    # ---- Test de velocidad (campo 23) --------------------------------

    SpeedtestInput:
      allOf:
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          required: [downloadMbps, uploadMbps, measuredAt]
          properties:
            downloadMbps:
              type: number
              format: double
              example: 185.4
            uploadMbps:
              type: number
              format: double
              example: 92.1
            latencyMs:
              type: number
              format: double
              example: 11.3
            jitterMs:
              type: number
              format: double
              example: 1.8
            packetLossPercent:
              type: number
              format: double
              example: 0
            serverId:
              type: string
            serverName:
              type: string
            ispName:
              type: string
            measuredAt:
              type: string
              format: date-time
            notes:
              type: string

    Speedtest:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            createdAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/SpeedtestInput'

    # ---- Mapa de calor WiFi (campo 24) -------------------------------

    HeatmapRoomInput:
      type: object
      required: [roomName, measurements, measuredAt]
      properties:
        roomName:
          type: string
          example: Dormitorio principal
        floor:
          type: integer
          description: Piso de la habitación. Usar 1 si la vivienda tiene un solo piso.
          default: 1
          example: 2
        measurements:
          type: array
          minItems: 1
          description: >
            Lecturas de señal en este punto, una entrada por AP detectado en el
            scan WiFi. Reemplaza el campo `signalDbm` legacy. Al menos una
            entrada (típicamente la del AP conectado, marcada con
            isConnected=true) debe estar presente.
          items:
            $ref: '#/components/schemas/RoomApMeasurement'
        signalDbm:
          type: number
          format: double
          deprecated: true
          description: >
            DEPRECATED. Reemplazado por `measurements[]`. Sólo presente en
            relevamientos en formato anterior (`legacyFormat: true` en la
            respuesta) o en clientes que aún no soportan multi-AP.
          example: -58
        measuredAt:
          type: string
          format: date-time
        notes:
          type: string

    HeatmapRoom:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            legacyFormat:
              type: boolean
              default: false
              description: >
                True si esta habitación proviene del modelo viejo (un único
                `signalDbm` por habitación) y fue migrada con una entrada
                sintética en `measurements`. El frontend puede usar este flag
                para mostrar un aviso y desactivar la vista "Por equipo".
        - $ref: '#/components/schemas/HeatmapRoomInput'

    WifiHeatmapInput:
      allOf:
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          required: [rooms]
          properties:
            label:
              type: string
            rooms:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/HeatmapRoomInput'
            notes:
              type: string

    WifiHeatmap:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            createdAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          properties:
            label:
              type: string
            rooms:
              type: array
              items:
                $ref: '#/components/schemas/HeatmapRoom'
            notes:
              type: string

    # ---- Access Points WiFi detectados (auxiliar del campo 24) -------

    RoomApMeasurement:
      type: object
      required: [bssid, signalDbm]
      description: >
        Lectura de señal hacia un AP específico desde un punto de medición
        (una habitación). Permite reconstruir la cobertura por equipo.
      properties:
        bssid:
          type: string
          description: MAC del radio del AP (formato `xx:xx:xx:xx:xx:xx`). Llave técnica para identificar la fuente.
          example: aa:bb:cc:dd:ee:ff
        accessPointId:
          type: string
          format: uuid
          description: Referencia al `WifiAccessPoint` cuando ya fue registrado en la visita. Opcional para soportar scans con APs aún no etiquetados.
        apLabelSnapshot:
          type: string
          description: >
            Nombre amigable del AP al momento de la medición. Histórico —
            no se actualiza si el AP se renombra después. Útil para mostrar
            heatmaps viejos coherentes.
          example: Router principal
        signalDbm:
          type: number
          format: double
          description: Potencia recibida del AP en dBm. Negativo, más cercano a 0 = mejor.
          example: -58
        band:
          type: string
          enum: ["2.4GHz", "5GHz", "6GHz", "unknown"]
          default: unknown
        channel:
          type: integer
          description: Canal WiFi (1-13 en 2.4 GHz, 36-165 en 5 GHz, etc.).
          example: 36
        isConnected:
          type: boolean
          default: false
          description: True si el celular del técnico estaba asociado a este BSSID al momento del scan.

    WifiAccessPointInput:
      type: object
      required: [bssid, label]
      properties:
        bssid:
          type: string
          description: MAC del radio del AP (formato `xx:xx:xx:xx:xx:xx`). Único por equipo y banda.
          example: aa:bb:cc:dd:ee:ff
        ssid:
          type: string
          description: Nombre de red detectado durante el scan.
          example: Casa_Perez
        label:
          type: string
          description: Nombre amigable puesto por el técnico (visible en la UI).
          example: Router principal
        apType:
          type: string
          enum: [router, extender, mesh_node, unknown]
          default: unknown
          description: Tipo de equipo. Puede dejarse "unknown" si el técnico no está seguro.
        band:
          type: string
          enum: ["2.4GHz", "5GHz", "6GHz", "unknown"]
          default: unknown
          description: Banda principal de operación detectada para este BSSID. Un router dual-band típicamente tiene dos BSSIDs (uno por banda).
        notes:
          type: string

    WifiAccessPoint:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            accountNumber:
              type: string
              description: Cuenta del cliente a la que pertenece este equipo. Permite reusar los labels entre visitas de la misma cuenta.
              example: WX-100123
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/WifiAccessPointInput'

    WifiAccessPointUpdate:
      type: object
      description: Campos editables de un `WifiAccessPoint`. Todos opcionales.
      properties:
        label:
          type: string
        apType:
          type: string
          enum: [router, extender, mesh_node, unknown]
        band:
          type: string
          enum: ["2.4GHz", "5GHz", "6GHz", "unknown"]
        notes:
          type: string

    # ---- Ping (campo 25) ---------------------------------------------

    PingTestInput:
      allOf:
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          required: [target, measuredAt]
          properties:
            target:
              type: string
              description: IP o URL a la que se ejecutó el ping.
              example: 8.8.8.8
            serverId:
              type: string
            packetsSent:
              type: integer
              example: 10
            packetsReceived:
              type: integer
              example: 10
            packetLossPercent:
              type: number
              format: double
              example: 0
            minLatencyMs:
              type: number
              format: double
            avgLatencyMs:
              type: number
              format: double
            maxLatencyMs:
              type: number
              format: double
            continuous:
              type: boolean
              default: false
            heatmapId:
              type: string
              format: uuid
              description: Mapa de calor al que se asocia este ping, si aplica.
            roomName:
              type: string
            measuredAt:
              type: string
              format: date-time
            notes:
              type: string

    PingTest:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            createdAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/PingTestInput'

    # ---- Traceroute (campo 26) ---------------------------------------

    TracerouteHop:
      type: object
      required: [hopNumber]
      properties:
        hopNumber:
          type: integer
          example: 3
        host:
          type: string
          description: Host o IP del salto. Nulo si el salto no respondió.
          example: 10.0.0.1
        latencyMs:
          type: number
          format: double

    TracerouteTestInput:
      allOf:
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          required: [target, hops, measuredAt]
          properties:
            target:
              type: string
              example: www.example.com
            serverId:
              type: string
            hops:
              type: array
              items:
                $ref: '#/components/schemas/TracerouteHop'
            measuredAt:
              type: string
              format: date-time
            notes:
              type: string

    TracerouteTest:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            createdAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/TracerouteTestInput'

    # ---- Equipos retirados (campo 27) --------------------------------

    RetiredEquipmentInput:
      allOf:
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          required:
            - equipmentModelId
            - serialValue
            - removalReasonCode
            - retiredAt
          properties:
            equipmentModelId:
              type: string
              description: Modelo del equipo retirado (ver catálogo de modelos).
            serialValue:
              type: string
              description: Número de serie ya decodificado por la app.
              example: 48575443A1B2C3D4
            barcodePhotoId:
              type: string
              format: uuid
              description: Identificador de la foto del código de barras (ver POST /media).
            removalReasonCode:
              $ref: '#/components/schemas/RemovalReasonCode'
            observations:
              type: string
            retiredAt:
              type: string
              format: date-time

    RetiredEquipment:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            createdAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/RetiredEquipmentInput'
        - type: object
          properties:
            serialFieldType:
              $ref: '#/components/schemas/EquipmentSerialFieldType'
            barcodePhotoUrl:
              type: string
              format: uri
              description: URL de la foto, resuelta desde barcodePhotoId.

    # ---- Historial de la cuenta --------------------------------------

    AccountToolHistory:
      type: object
      properties:
        accountNumber:
          type: string
        distanceMeasurements:
          type: array
          items:
            $ref: '#/components/schemas/DistanceMeasurement'
        speedtests:
          type: array
          items:
            $ref: '#/components/schemas/Speedtest'
        wifiHeatmaps:
          type: array
          items:
            $ref: '#/components/schemas/WifiHeatmap'
        pingTests:
          type: array
          items:
            $ref: '#/components/schemas/PingTest'
        tracerouteTests:
          type: array
          items:
            $ref: '#/components/schemas/TracerouteTest'
        retiredEquipment:
          type: array
          items:
            $ref: '#/components/schemas/RetiredEquipment'

    # ---- Autenticación -----------------------------------------------

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: franco@tulpasolutions.com
        password:
          type: string
          format: password

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT para el header Authorization Bearer.
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        active:
          type: boolean

    # ---- Datos del cliente (campos 1-5, 7) ---------------------------

    ClientProfile:
      type: object
      properties:
        accountNumber:
          type: string
        fullName:
          type: string
          description: Nombres y apellidos (campo 1).
        address:
          type: string
          description: Dirección (campo 2).
        phones:
          type: array
          description: Teléfonos (campo 3).
          items:
            type: string
        planName:
          type: string
        contractedDownloadMbps:
          type: number
          format: double
          description: Velocidad de descarga contratada (campo 5).
        contractedUploadMbps:
          type: number
          format: double
          description: Velocidad de subida contratada (campo 5).

    ClientProfileUpdate:
      type: object
      description: Campos editables del módulo de actualización de datos (campo 4).
      properties:
        fullName:
          type: string
        address:
          type: string
        phones:
          type: array
          items:
            type: string

    AccountStatus:
      type: string
      enum: [ACTIVA, SUSPENDIDA, TERMINADA]

    ContractStatus:
      type: object
      properties:
        clientName:
          type: string
        accounts:
          type: array
          items:
            type: object
            properties:
              accountNumber:
                type: string
              contractId:
                type: string
              status:
                $ref: '#/components/schemas/AccountStatus'

    # ---- Diagnóstico de red (campos 6, 8-14, 19-21) ------------------

    NearbyNap:
      type: object
      description: NAP cercana devuelta por TEC (campo 6).
      properties:
        napCode:
          type: string
          example: PL2KD9
        latitude:
          type: number
          format: double
          nullable: true
          description: Coordenada de la NAP; null si la operadora no la devuelve.
        longitude:
          type: number
          format: double
          nullable: true
        distanceMeters:
          type: number
          format: double
          description: Distancia calculada por la operadora desde la coordenada consultada.
        occupiedPorts:
          type: integer
        totalPorts:
          type: integer
        freePorts:
          type: integer
          description: totalPorts - occupiedPorts, nunca negativo.

    NapPort:
      type: object
      properties:
        portNumber:
          type: integer
        occupied:
          type: boolean
        clientAccountNumber:
          type: string
          description: Cuenta del cliente en el puerto, si está ocupado.
        clientStatus:
          type: string
          description: A (activo) o S (suspendido).
          enum: [A, S]

    NapPorts:
      type: object
      properties:
        napCode:
          type: string
        ports:
          type: array
          description: Vacío cuando `detailAvailable` es false.
          items:
            $ref: '#/components/schemas/NapPort'
        detailAvailable:
          type: boolean
          description: >
            false cuando la API de operadora no expone el detalle puerto a
            puerto (hoy solo publica el conteo ocupados/total en el listado
            de NAPs; el detalle vive en tec.grupotvcable.com/Gpon/Coverage,
            que aún no está publicado como API).
        occupiedPorts:
          type: integer
        totalPorts:
          type: integer
        note:
          type: string
          description: Explicación para mostrar al técnico cuando no hay detalle.

    FlatField:
      type: object
      description: Campo suelto de la ficha del terminal, tal como lo nombra ISP Monitor.
      properties:
        key:
          type: string
        path:
          type: string
          description: Ruta completa cuando el campo venía anidado (`evento.descripcion`).
        value:
          nullable: true
          oneOf:
            - type: string
            - type: number
            - type: boolean

    TerminalHistoryEntry:
      type: object
      description: >
        Equipos que pasaron por ese puerto en un período. Sale de `terminals[]`
        de la API y le sirve al técnico para ver si el equipo anterior del
        domicilio venía cayéndose.
      properties:
        period:
          type: string
          description: LastHour | LastDay | LastWeek | LastMonth, tal como lo nombra la operadora.
          example: LastMonth
        ids:
          type: array
          items:
            type: string
          example: [ZTEGD0BB8294, ZTEGD3F9BBE5]
        statuses:
          type: array
          description: Estado de cada equipo de `ids`, en el mismo orden (`up` / `down`).
          items:
            type: string
          example: [down, up]
        drop:
          type: string
          nullable: true
        events:
          type: string
          nullable: true

    TerminalSnapshot:
      type: object
      description: >
        Estado puntual del equipo y evento asociado. Shape verificado contra la
        API real el 2026-08-26 con un ONT ZTE activo.
      properties:
        id:
          type: string
          example: ZTEGD3F9BBE5
        found:
          type: boolean
          description: false cuando ISP Monitor no tiene datos para ese identificador (204).
        online:
          type: boolean
          nullable: true
          description: Estado del equipo del cliente; sale del campo `status` de la API (`up` / `down`).
        technology:
          type: string
          nullable: true
          enum: [GPON, HFC]
        city:
          type: string
          nullable: true
          example: Quito
        networkIds:
          type: array
          description: Nodos/redes a los que cuelga el equipo.
          items:
            type: integer
          example: [9198]
        event:
          type: object
          nullable: true
          description: >
            Evento (daño) asociado. `active` es false cuando el campo `events`
            de la API viene vacío o null.
          properties:
            active:
              type: boolean
            description:
              type: string
              nullable: true
        history:
          type: array
          items:
            $ref: '#/components/schemas/TerminalHistoryEntry'
        fields:
          type: array
          description: >
            Resto de la ficha aplanada (device, ifIndex, index, drop…), sin
            repetir lo que ya tiene campo propio.
          items:
            $ref: '#/components/schemas/FlatField'
        raw:
          description: Payload original de la API de operadora.
          nullable: true
        fetchedAt:
          type: string
          format: date-time

    SeriesPoint:
      type: object
      properties:
        t:
          type: string
          nullable: true
          description: >
            Instante de la muestra en ISO-8601. Si la operadora manda un
            formato no parseable se devuelve el texto original; null si la
            serie no trae marca de tiempo.
        values:
          type: object
          description: Métricas numéricas de la muestra, por nombre de clave.
          additionalProperties:
            type: number
        meta:
          type: object
          description: Campos no numéricos de la muestra (estado, descripción…).
          additionalProperties:
            type: string

    SeriesChannel:
      type: object
      description: >
        Canal de una métrica desglosada. Los endpoints DOCSIS de SNR y
        codewords devuelven una entrada por canal upstream del cablemódem,
        cada una con su propia serie.
      properties:
        label:
          type: string
          description: Nombre del canal (`desc` de la operadora).
          example: Logical Upstream Channel 0/1.1/0
        network:
          type: string
          nullable: true
          example: 2G-2 v
        ifIndex:
          type: integer
          nullable: true
          example: 5000018
        keys:
          type: array
          items:
            type: string
        points:
          type: array
          items:
            $ref: '#/components/schemas/SeriesPoint'

    Series24h:
      type: object
      description: >
        Serie de las últimas 24 horas ya normalizada. La operadora la devuelve
        como tuplas `[[epochSegundos, valor], …]` — 288 muestras, una cada 5
        minutos — sin nombrar las columnas; el backend les pone nombre según la
        métrica y el ámbito:
        `terminal/status` → `online` (1 = en línea, 0 = caído);
        `network/status` → `terminalsOnline` (cuántos equipos del nodo están en
        línea, **no** un 0/1);
        `snr` → `snr` o `snrDown`/`snrUp` según cuántas columnas traiga;
        `codewords` → `errors` o `corrected`/`uncorrected`.
        Las métricas DOCSIS llegan además desglosadas por canal upstream: la
        respuesta es un array de canales, cada uno con su `data` — ver
        `channels`.
        Las series de SNR y codewords son DOCSIS: en equipos GPON la operadora
        responde 204 y `points` viene vacío.
        Si el formato no se reconoce, `recognized` es false y el consumidor
        puede caer a `raw`.
      properties:
        id:
          type: string
        scope:
          type: string
          enum: [terminal, network]
        metric:
          type: string
          enum: [status, snr, codewords]
        keys:
          type: array
          description: Nombres de las series numéricas presentes (leyenda del gráfico).
          items:
            type: string
        points:
          type: array
          items:
            $ref: '#/components/schemas/SeriesPoint'
        channels:
          type: array
          description: >
            Canales cuando la métrica viene desglosada (SNR y codewords DOCSIS
            traen una serie por canal upstream). Vacío si la métrica es de un
            solo canal; en ese caso `keys`/`points` son la serie. Cuando hay
            canales, `keys` y `points` reflejan el primero, para consumidores
            que no los manejen.
          items:
            $ref: '#/components/schemas/SeriesChannel'
        recognized:
          type: boolean
        raw:
          description: Payload original de la API de operadora.
          nullable: true
        fetchedAt:
          type: string
          format: date-time

    ScopedSeries:
      type: object
      description: La misma métrica para el equipo del cliente y para la red.
      properties:
        terminal:
          allOf:
            - $ref: '#/components/schemas/Series24h'
          nullable: true
        network:
          allOf:
            - $ref: '#/components/schemas/Series24h'
          nullable: true

    TerminalDiagnostics:
      type: object
      description: Ficha del equipo más las seis series de 24 horas (campos 9-12).
      properties:
        id:
          type: string
        terminal:
          $ref: '#/components/schemas/TerminalSnapshot'
        status:
          $ref: '#/components/schemas/ScopedSeries'
        snr:
          $ref: '#/components/schemas/ScopedSeries'
        codewords:
          $ref: '#/components/schemas/ScopedSeries'
        errors:
          type: array
          description: Endpoints upstream que fallaron; el resto del payload sigue siendo válido.
          items:
            type: object
            properties:
              endpoint:
                type: string
                example: network/snr
              message:
                type: string
        fetchedAt:
          type: string
          format: date-time

    SignalLevels:
      type: object
      description: Niveles de señal RX y TX.
      properties:
        rxDbm:
          type: number
          format: double
        txDbm:
          type: number
          format: double

    NetworkMetrics:
      type: object
      description: Métricas de red del cliente (campos 9-13).
      properties:
        accountNumber:
          type: string
        technology:
          type: string
          enum: [GPON, HFC]
        signalLevels:
          $ref: '#/components/schemas/SignalLevels'
        signalToNoiseDb:
          type: number
          format: double
          description: Señal a ruido, solo HFC (campo 10).
        fecCorrectedPercent:
          type: number
          format: double
          description: FEC corregidos, solo HFC (campo 11).
        fecUncorrectedPercent:
          type: number
          format: double
          description: FEC sin corregir, solo HFC (campo 11).
        outagesLast24h:
          type: integer
          description: Caídas en las últimas 24 horas (campo 12).
        trafficMbpsIn:
          type: number
          format: double
          description: Tráfico de entrada (campo 13).
        trafficMbpsOut:
          type: number
          format: double
          description: Tráfico de salida (campo 13).
        measuredAt:
          type: string
          format: date-time

    NodeEvent:
      type: object
      properties:
        type:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [RESUELTO, PENDIENTE, FALLA]
        occurredAt:
          type: string
          format: date-time

    LanDevice:
      type: object
      description: Equipo en la tabla DHCP (campo 19).
      properties:
        hostname:
          type: string
        ipAddress:
          type: string
        macAddress:
          type: string
        leaseExpiresAt:
          type: string
          format: date-time

    WifiDevice:
      type: object
      description: Dispositivo conectado por WiFi (campo 20).
      properties:
        hostname:
          type: string
        macAddress:
          type: string
        band:
          type: string
          enum: ['2.4GHz', '5GHz']
        signalDbm:
          type: number
          format: double

    WifiBandConfig:
      type: object
      properties:
        band:
          type: string
          enum: ['2.4GHz', '5GHz']
        ssid:
          type: string

    WifiConfig:
      type: object
      properties:
        accountNumber:
          type: string
        bands:
          type: array
          items:
            $ref: '#/components/schemas/WifiBandConfig'

    WifiConfigUpdate:
      type: object
      description: Cambio de SSID y contraseña (campo 21).
      required: [bands]
      properties:
        bands:
          type: array
          minItems: 1
          items:
            type: object
            required: [band, ssid]
            properties:
              band:
                type: string
                enum: ['2.4GHz', '5GHz']
              ssid:
                type: string
              password:
                type: string
                format: password
                description: Nueva contraseña. Omitir para no cambiarla.

    # ---- Tareas y visitas (campos 15-16) -----------------------------

    ClosedTask:
      type: object
      description: Tarea o visita cerrada, con su observación de cierre.
      properties:
        taskId:
          type: string
          example: TASK/294328/2026
        occurredAt:
          type: string
          format: date-time
        reason:
          type: string
          description: Motivo.
        closingNotes:
          type: string
          description: Observación de cierre.
        technician:
          type: string
        result:
          type: string
          enum: [SATISFACTORIA, INSATISFACTORIA, PENDIENTE]
