openapi: 3.0.3

info:
  title: API de Herramientas y Equipos Retirados
  description: >
    Módulo de backend de la app Wifix (Fase 1). Cubre dos dominios del
    servicio de operaciones de campo:

      1. HERRAMIENTAS — almacenamiento de resultados de mediciones:
         medición de distancia, test de velocidad, mapa de calor WiFi,
         ping y traceroute.
      2. EQUIPOS RETIRADOS — registro de equipos retirados o reemplazados.

    CLAVE DE IDENTIFICACIÓN (FASE 1)
    ----------------------------------------------------------------------
    En la Fase 1 la clave práctica de cada registro es `accountNumber`:
    el número de cuenta del cliente que el técnico ingresa en la app.
    Los demás identificadores (`clientId`, `visitId`, `technicianId`) son
    opcionales: provendrán de un sistema upstream aún por definir y en la
    Fase 1 se completan con valores de prueba. `contractId` también es
    opcional y en una fase posterior será reemplazado por `taskId`.

    AUTENTICACIÓN
    ----------------------------------------------------------------------
    La app tiene login propio. POST /auth/login devuelve un JWT que el
    resto de endpoints exige en el header Authorization: Bearer.

    DATOS DE SISTEMAS EXTERNOS (MOCKUP)
    ----------------------------------------------------------------------
    Los campos que provienen de sistemas de la operadora (Comarch/TYTAN,
    FSM, ISP Monitor, ACS, TEC, RMS) se sirven en esta etapa con datos
    simulados, para demostrar y probar la app. El contrato no cambia
    cuando se conecten las APIs reales.
  version: 1.0.0
  contact:
    name: Tulpa Solutions S.A.S.

servers:
  - url: https://api.ejemplo.com/herramientas/v1
    description: Producción (URL definitiva por coordinar)
  - url: http://localhost:8080/herramientas/v1
    description: Desarrollo local

tags:
  - name: Catálogos
    description: Datos de referencia de solo lectura.
  - name: Medición de Distancia
    description: Herramienta de odómetro GPS (campo 22).
  - name: Test de Velocidad
    description: Resultados de speedtest (campo 23).
  - name: Mapa de Calor WiFi
    description: Mediciones de potencia de señal WiFi por habitación (campo 24).
  - name: Ping
    description: Resultados de pruebas de ping (campo 25).
  - name: Traceroute
    description: Resultados de pruebas de traceroute (campo 26).
  - name: Equipos Retirados
    description: Registro de equipos retirados o reemplazados (campo 27).
  - name: Media
    description: Subida de archivos (fotos de código de barras, etc.).
  - name: Historial de la Cuenta
    description: Consulta agregada de los registros de este módulo por cuenta.
  - name: Autenticación
    description: Login de la app y emisión de token.
  - name: Datos del Cliente
    description: Perfil, status y actualización de datos del cliente (campos 1-5, 7).
  - name: Diagnóstico de Red
    description: >
      NAPs, métricas de red, eventos de la red de acceso y red local
      (campos 6, 8-14, 19-21).
  - name: Tareas y Visitas
    description: >
      Tareas insatisfactorias, visitas anteriores, órdenes y notas de cierre
      (campos 15-16).
  - name: Integraciones
    description: >
      Diagnóstico de la integración con FSM (`fsm-data-ms`) y consultas en lote.

security:
  - bearerAuth: []

paths:

  # ====================================================================
  # AUTENTICACIÓN
  # ====================================================================

  /auth/login:
    post:
      tags: [Autenticación]
      summary: Iniciar sesión
      description: Valida correo y contraseña y devuelve un JWT.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/me:
    get:
      tags: [Autenticación]
      summary: Datos del usuario autenticado
      operationId: getCurrentUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ====================================================================
  # CATÁLOGOS
  # ====================================================================

  /catalogs/speedtest-servers:
    get:
      tags: [Catálogos]
      summary: Lista de servidores de test de velocidad
      operationId: listSpeedtestServers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpeedtestServer'

  /catalogs/network-servers:
    get:
      tags: [Catálogos]
      summary: Lista de servidores comunes para ping y traceroute
      operationId: listNetworkServers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NetworkServer'

  /catalogs/equipment-models:
    get:
      tags: [Catálogos]
      summary: Lista de modelos de equipo
      description: >
        Modelos de equipo con el tipo de campo de serie que debe leerse
        del código de barras (SN, HOST-SN, PON-SN, GPON-SN, D-SN).
      operationId: listEquipmentModels
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EquipmentModel'

  /catalogs/removal-reasons:
    get:
      tags: [Catálogos]
      summary: Lista de motivos de retiro
      operationId: listRemovalReasons
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RemovalReason'

  # ====================================================================
  # HERRAMIENTAS — MEDICIÓN DE DISTANCIA (campo 22)
  # ====================================================================

  /distance-measurements:
    get:
      tags: [Medición de Distancia]
      summary: Lista de mediciones de distancia
      operationId: listDistanceMeasurements
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DistanceMeasurement'
    post:
      tags: [Medición de Distancia]
      summary: Registrar una medición de distancia
      operationId: createDistanceMeasurement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistanceMeasurementInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceMeasurement'
        '400':
          $ref: '#/components/responses/BadRequest'

  /distance-measurements/{id}:
    get:
      tags: [Medición de Distancia]
      summary: Obtener una medición de distancia
      operationId: getDistanceMeasurement
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceMeasurement'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HERRAMIENTAS — TEST DE VELOCIDAD (campo 23)
  # ====================================================================

  /speedtests:
    get:
      tags: [Test de Velocidad]
      summary: Lista de tests de velocidad
      operationId: listSpeedtests
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/ContractIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Speedtest'
    post:
      tags: [Test de Velocidad]
      summary: Registrar un test de velocidad
      operationId: createSpeedtest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeedtestInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Speedtest'
        '400':
          $ref: '#/components/responses/BadRequest'

  /speedtests/{id}:
    get:
      tags: [Test de Velocidad]
      summary: Obtener un test de velocidad
      operationId: getSpeedtest
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Speedtest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HERRAMIENTAS — MAPA DE CALOR WIFI (campo 24)
  # ====================================================================

  /wifi-heatmaps:
    get:
      tags: [Mapa de Calor WiFi]
      summary: Lista de mapas de calor WiFi
      operationId: listWifiHeatmaps
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WifiHeatmap'
    post:
      tags: [Mapa de Calor WiFi]
      summary: Registrar un mapa de calor WiFi
      description: >
        Crea un relevamiento de cobertura WiFi con una o más mediciones
        por habitación. Si la vivienda tiene un solo piso se usa floor = 1.
      operationId: createWifiHeatmap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiHeatmapInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiHeatmap'
        '400':
          $ref: '#/components/responses/BadRequest'

  /wifi-heatmaps/{id}:
    get:
      tags: [Mapa de Calor WiFi]
      summary: Obtener un mapa de calor WiFi
      operationId: getWifiHeatmap
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiHeatmap'
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountNumber}/wifi-access-points:
    parameters:
      - $ref: '#/components/parameters/AccountNumberPath'
    get:
      tags: [Mapa de Calor WiFi]
      summary: Listar APs WiFi registrados de una cuenta
      description: >
        APs (router, extensores, nodos mesh) que el técnico identificó en
        visitas anteriores de esta cuenta. El frontend los usa para
        pre-cargar nombres por BSSID al iniciar un nuevo relevamiento.
      operationId: listAccountWifiAccessPoints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WifiAccessPoint'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Mapa de Calor WiFi]
      summary: Registrar (o actualizar) un AP WiFi de la cuenta
      description: >
        Crea un `WifiAccessPoint` para la cuenta. Si ya existe uno con el
        mismo `bssid` para esta cuenta, el servidor lo actualiza
        (upsert por `accountNumber` + `bssid`).
      operationId: createAccountWifiAccessPoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiAccessPointInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiAccessPoint'
        '200':
          description: Actualizado (upsert)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiAccessPoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /wifi-access-points/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    patch:
      tags: [Mapa de Calor WiFi]
      summary: Renombrar o corregir un AP WiFi
      operationId: updateWifiAccessPoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiAccessPointUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiAccessPoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HERRAMIENTAS — PING (campo 25)
  # ====================================================================

  /ping-tests:
    get:
      tags: [Ping]
      summary: Lista de pruebas de ping
      operationId: listPingTests
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PingTest'
    post:
      tags: [Ping]
      summary: Registrar una prueba de ping
      description: >
        Almacena el resultado de un ping. Puede asociarse opcionalmente a
        una habitación de un mapa de calor mediante heatmapId y roomName.
      operationId: createPingTest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PingTestInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingTest'
        '400':
          $ref: '#/components/responses/BadRequest'

  /ping-tests/{id}:
    get:
      tags: [Ping]
      summary: Obtener una prueba de ping
      operationId: getPingTest
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingTest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HERRAMIENTAS — TRACEROUTE (campo 26)
  # ====================================================================

  /traceroute-tests:
    get:
      tags: [Traceroute]
      summary: Lista de pruebas de traceroute
      operationId: listTracerouteTests
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TracerouteTest'
    post:
      tags: [Traceroute]
      summary: Registrar una prueba de traceroute
      operationId: createTracerouteTest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TracerouteTestInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracerouteTest'
        '400':
          $ref: '#/components/responses/BadRequest'

  /traceroute-tests/{id}:
    get:
      tags: [Traceroute]
      summary: Obtener una prueba de traceroute
      operationId: getTracerouteTest
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracerouteTest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # EQUIPOS RETIRADOS (campo 27)
  # ====================================================================

  /retired-equipment:
    get:
      tags: [Equipos Retirados]
      summary: Lista de equipos retirados
      operationId: listRetiredEquipment
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - name: removalReasonCode
          in: query
          description: Filtrar por código de motivo de retiro.
          schema:
            $ref: '#/components/schemas/RemovalReasonCode'
        - name: serialValue
          in: query
          description: Buscar por número de serie del equipo.
          schema:
            type: string
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/RetiredEquipment'
    post:
      tags: [Equipos Retirados]
      summary: Registrar un equipo retirado o reemplazado
      description: >
        La foto del código de barras se sube previamente con POST /media y
        aquí se referencia por barcodePhotoId. El número de serie llega ya
        decodificado por la app (campo a leer definido según el modelo).
      operationId: createRetiredEquipment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetiredEquipmentInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetiredEquipment'
        '400':
          $ref: '#/components/responses/BadRequest'

  /retired-equipment/{id}:
    get:
      tags: [Equipos Retirados]
      summary: Obtener un equipo retirado
      operationId: getRetiredEquipment
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetiredEquipment'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # MEDIA
  # ====================================================================

  /media:
    post:
      tags: [Media]
      summary: Subir un archivo
      description: >
        Sube una imagen (por ejemplo la foto del código de barras) y
        devuelve un identificador y una URL para referenciarla luego.
      operationId: uploadMedia
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Archivo a subir (JPEG o PNG).
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaFile'
        '400':
          $ref: '#/components/responses/BadRequest'

  /media/{id}:
    get:
      tags: [Media]
      summary: Obtener metadatos de un archivo
      operationId: getMedia
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaFile'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HISTORIAL DE LA CUENTA
  # ====================================================================

  /accounts/{accountNumber}/tool-history:
    get:
      tags: [Historial de la Cuenta]
      summary: Historial agregado de una cuenta
      description: >
        Devuelve, en una sola respuesta, los registros de este módulo
        asociados a un número de cuenta: mediciones de distancia, tests de
        velocidad, mapas de calor, pings, traceroutes y equipos retirados.
      operationId: getAccountToolHistory
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: Número de cuenta del cliente.
          schema:
            type: string
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToolHistory'

  # ====================================================================
  # DATOS DEL CLIENTE (campos 1-5, 7)
  # ====================================================================

  /accounts/{accountNumber}/client-profile:
    parameters:
      - $ref: '#/components/parameters/AccountNumberPath'
    get:
      tags: [Datos del Cliente]
      summary: Perfil del cliente
      description: >
        Nombres, dirección, teléfonos, plan y velocidad contratada
        (campos 1, 2, 3, 5). **Respuesta compuesta** (ADR-07): la identidad sale
        de FSM `POST /account/process` (1 llamada upstream) y el plan/velocidad
        siguen viniendo del mock de Comarch, porque `fsm-data-ms` no los expone.
        El bloque `sources` dice, campo por campo, de dónde salió cada dato.
        Lo editado con el PUT manda sobre FSM y se marca como `MOCK`.
      operationId: getClientProfile
      parameters:
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: >-
            La cuenta no existe en FSM (`/account/process` devolvió una lista
            de órdenes vacía).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'
    put:
      tags: [Datos del Cliente]
      summary: Actualizar datos del cliente
      description: >
        Módulo de actualización de datos (campo 4). **No cambia con la
        integración FSM**: `fsm-data-ms` es de solo lectura, así que la edición
        se guarda en Comarch y el cambio NO viaja a la operadora. Devuelve el
        mismo shape que el GET, con `sources` en `MOCK` para lo editado.
      operationId: updateClientProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientProfileUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountNumber}/contract-status:
    get:
      tags: [Datos del Cliente]
      summary: Status del cliente por contrato/cuenta
      description: >
        Nombre del cliente y status de la cuenta (campo 7). Origen: FSM
        `POST /account/status` (código A/S/T/O/P) + `POST /account/process`
        (nombre y última orden). **2 llamadas upstream**, ambas cacheadas
        (status 5 min, process 60 s).


        FSM no devuelve "otras cuentas del mismo contrato": `accounts` trae
        exactamente un elemento hasta que exista ese endpoint.
      operationId: getContractStatus
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'

  # ====================================================================
  # DIAGNÓSTICO DE RED (campos 6, 8-14, 19-21)
  # ====================================================================

  /naps/nearby:
    get:
      tags: [Diagnóstico de Red]
      summary: NAPs cercanas a una coordenada
      description: >
        NAPs cercanas con coordenada, distancia en metros y puertos
        ocupados/libres (campo 6). La consulta es por coordenada (GPS del
        técnico o de la tarea), no por número de cuenta, igual que la
        pestaña "GPON" de FSM. **1 llamada upstream.**


        La fuente la decide `NAPS_PRIMARY_SOURCE` (ADR-04): FSM
        `GET /naps/nearest` o TEC `GET /api/tec/naps/{lat},{lng}` (Digest).
        Con FSM primario, si el token de la operadora falla se cae a TEC y se
        responde 200 con `source:"TEC"` y el aviso en el header
        `X-Wifix-Degraded`. Cualquier otro fallo de FSM se propaga como 502.


        ⚠ La respuesta es un **array desnudo**: por eso el bloque `degraded`
        viaja en el header `X-Wifix-Degraded` (JSON URL-encoded) y no en el
        cuerpo.
      operationId: getNearbyNaps
      parameters:
        - name: lat
          in: query
          required: true
          description: Latitud desde la que se busca.
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: lng
          in: query
          required: true
          description: Longitud desde la que se busca.
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - name: meters
          in: query
          required: false
          description: Radio de búsqueda en metros. Se ignora si la fuente efectiva es TEC.
          schema:
            type: integer
            minimum: 1
            maximum: 2000
            default: 100
        - name: maxRows
          in: query
          required: false
          description: Cantidad máxima de NAPs. Se ignora si la fuente efectiva es TEC.
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 5
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: OK. Lista ordenada por distancia ascendente (vacía si no hay NAPs en el sector).
          headers:
            X-Wifix-Degraded:
              description: >
                Presente solo si la respuesta se sirvió con una fuente
                alternativa o incompleta. Contiene el JSON del bloque
                `Degraded` URL-encoded. El cliente nunca debe asumir que existe.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NearbyNap'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'

  /naps/{napRef}/ports:
    get:
      tags: [Diagnóstico de Red]
      summary: Puertos ocupados por NAP (campo 8, paso 1)
      description: >
        Rejilla de puertos de la NAP con la cuenta y el equipo GPON de cada
        puerto ocupado (campo 8). **1 sola llamada upstream**
        (`GET /naps/accounts`): los estados A/S/T/O/P NO se consultan acá.
        Cada puerto ocupado viene con `clientStatus: null` y
        `statusPending: true`; el técnico los resuelve después, de forma
        explícita, con `POST /accounts/status-batch` (ADR-05).


        **Ruteo del path param**: si `napRef` es numérico (`/^\d+$/`) se toma
        como `napId` de FSM; cualquier otro valor se toma como código de NAP y
        va por el camino TEC heredado, que sigue devolviendo
        `detailAvailable:false`. El frontend envía `nap.napId ?? nap.napCode`.
      operationId: getNapPorts
      parameters:
        - name: napRef
          in: path
          required: true
          description: >
            Id numérico de la NAP en FSM, o código de NAP (camino TEC).
          schema:
            type: string
            example: '11547'
        - name: withStatus
          in: query
          required: false
          description: >
            Resuelve además hasta `batchLimit` estados en la misma llamada.
            Existe SOLO para `probe-fsm-api.ts` y soporte: **la webapp tiene
            prohibido enviarlo**, porque dispara hasta 12 consultas extra a
            producción por cada tap.
          schema:
            type: string
            enum: ['0', '1']
            default: '0'
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NapPorts'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'

  /terminals/{id}:
    get:
      tags: [Diagnóstico de Red]
      summary: Estado del equipo, de la red y evento asociado
      description: >
        Ficha puntual del equipo del cliente: estado del terminal, estado de
        la red y evento (daño) asociado. `id` es el serial GPON (fibra) o la
        MAC del cablemódem (HFC); las MAC se aceptan con o sin separadores.
        Origen real: ISP Monitor (`GET /api/isp/terminals/{id}`).
      operationId: getTerminal
      parameters:
        - $ref: '#/components/parameters/TerminalIdPath'
      responses:
        '200':
          description: >
            OK. Si el identificador no existe en ISP Monitor, `found` es false
            (la API de operadora responde 204 en ese caso).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /terminals/{id}/diagnostics:
    get:
      tags: [Diagnóstico de Red]
      summary: Panel completo de ISP Monitor (campos 9-12)
      description: >
        Ficha del equipo más las series de las últimas 24 horas (estado, señal
        a ruido y errores FEC, cada una para el terminal y para la red) en una
        sola llamada.

        Solo se consulta lo que aplica: primero la ficha y, según la tecnología
        que devuelva, las series. En GPON las cuatro series DOCSIS no se piden
        (la operadora responde 204) y en un identificador inexistente no se pide
        ninguna, así que el panel cuesta 3 llamadas upstream en fibra y 7 en
        HFC. Lo omitido se reporta en `skipped`.

        Las series que sí aplican se consultan en paralelo, con un tope global
        de concurrencia y un cache corto (`TEC_API_MAX_CONCURRENCY`,
        `TEC_API_CACHE_TTL_MS`): la operadora no impone un límite de peticiones
        pero pidió no abusar, y todas las consultas van contra producción. Si
        alguna falla, el resto igual se devuelve y el fallo se reporta en
        `errors`.
      operationId: getTerminalDiagnostics
      parameters:
        - $ref: '#/components/parameters/TerminalIdPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalDiagnostics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /terminals/{id}/series/{scope}/{metric}:
    get:
      tags: [Diagnóstico de Red]
      summary: Serie de 24 horas de una métrica
      description: >
        Serie individual de las últimas 24 horas. Combinaciones y endpoint
        upstream correspondiente:
        `terminal/status` → `/api/isp/status/{id}`;
        `network/status` → `/api/isp/network/online/{id}`;
        `terminal/snr` → `/api/isp/cablemodem/snr/{id}`;
        `network/snr` → `/api/isp/network/snr/{id}`;
        `terminal/codewords` → `/api/isp/cablemodem/codewords/{id}`;
        `network/codewords` → `/api/isp/network/codewords/{id}`.
      operationId: getTerminalSeries
      parameters:
        - $ref: '#/components/parameters/TerminalIdPath'
        - name: scope
          in: path
          required: true
          description: Ámbito de la serie — el equipo del cliente o la red/nodo.
          schema:
            type: string
            enum: [terminal, network]
        - name: metric
          in: path
          required: true
          description: >
            Métrica: `status` (disponibilidad, campo 12), `snr` (señal a
            ruido, campo 10) o `codewords` (FEC corregidos y sin corregir,
            campo 11).
          schema:
            type: string
            enum: [status, snr, codewords]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Series24h'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/network-metrics:
    get:
      tags: [Diagnóstico de Red]
      summary: Métricas de red del cliente
      description: >
        Niveles de señal RX/TX (GPON y HFC), señal a ruido (HFC), FEC
        corregidos y sin corregir (HFC), caídas en 24 horas y tráfico de
        internet (campos 9-13). Origen real: ISP Monitor.
      operationId: getNetworkMetrics
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountNumber}/node-events:
    get:
      tags: [Diagnóstico de Red]
      summary: Daños (eventos) en la red de acceso
      description: >
        Eventos o daños de la red que da servicio a la cuenta (campo 14).
        Origen real: RMS — todavía en mock.

        La ruta, el `operationId` y el esquema conservan el término "node" del
        Excel original y del contrato ya publicado. En pantalla se dice "red de
        acceso": la operadora aclaró (2026-08-27) que "nodo" no es un concepto
        de su red — sus datos salen de tarjetas de CMTS o de puertos de OLT.
        Cuando haya credenciales de RMS habrá que confirmar qué agrupa
        realmente este endpoint.
      operationId: getNodeEvents
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NodeEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/lan-devices:
    get:
      tags: [Diagnóstico de Red]
      summary: Equipos en la red local (tabla DHCP)
      description: >
        Lista de equipos conectados en la red local del cliente
        (campo 19). Origen real: ISP / ACS.
      operationId: getLanDevices
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LanDevice'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/wifi-devices:
    get:
      tags: [Diagnóstico de Red]
      summary: Dispositivos conectados por WiFi
      description: >
        Dispositivos conectados por WiFi en cada banda (2.4 y 5 GHz) con
        su nivel de señal (campo 20). Origen real: ISP / ACS.
      operationId: getWifiDevices
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WifiDevice'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/wifi-config:
    parameters:
      - $ref: '#/components/parameters/AccountNumberPath'
    get:
      tags: [Diagnóstico de Red]
      summary: Configuración WiFi actual
      operationId: getWifiConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Diagnóstico de Red]
      summary: Cambiar SSID y contraseña
      description: >
        Cambia el SSID y la contraseña del WiFi del cliente (campo 21).
        Operación sensible. Origen real: ACS.
      operationId: updateWifiConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiConfigUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # TAREAS Y VISITAS (campos 15-16)
  # ====================================================================

  /accounts/{accountNumber}/unsatisfactory-tasks:
    get:
      tags: [Tareas y Visitas]
      summary: Observaciones de cierre de tareas insatisfactorias
      description: >
        Tareas insatisfactorias previas con fecha/hora, motivo y observación de
        cierre (campo 15). Origen: FSM `POST /account/process` +
        `POST /workorder/tasks` sobre como mucho `limit` órdenes **finalizadas
        más recientes**. **1 + ≤5 llamadas upstream**, concurrencia 4.


        ⚠ Cambio de forma: antes era un array desnudo, ahora es un objeto con
        `items`, `scanned`, `totalOrders` y `truncated`, para que la UI pueda
        decir "se revisaron las 5 órdenes más recientes de 12" en vez de mentir
        por omisión.


        `result` es un **valor inferido** por `classifyTaskResult()`, no un dato
        de la operadora: la documentación de FSM no enumera los valores de
        `status` ni expone un campo satisfactoria/insatisfactoria.
      operationId: getUnsatisfactoryTasks
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
        - name: limit
          in: query
          required: false
          description: Órdenes finalizadas más recientes cuyas notas se leen.
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 5
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsatisfactoryTasks'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'

  /accounts/{accountNumber}/previous-visits:
    get:
      tags: [Tareas y Visitas]
      summary: Motivos y observaciones de visitas anteriores
      description: >
        Visitas anteriores con fecha/hora y motivo (campo 16). Origen: FSM
        `POST /account/process` con `estado:"Todas"`. **1 sola llamada
        upstream, sin notas**: `closingNotes` viene vacío y `notesLoaded` en
        `false`. Las notas se piden por visita con
        `GET /workorders/tasks?workOrder=` al expandirla (ADR-06).


        ⚠ Cambio de forma: antes era un array desnudo, ahora es un objeto con
        `items` y `totalOrders`.
      operationId: getPreviousVisits
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: >-
            OK. Una cuenta sin órdenes devuelve la lista `items` vacía.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviousVisits'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'

  /accounts/{accountNumber}/orders:
    get:
      tags: [Tareas y Visitas]
      summary: Órdenes de trabajo de la cuenta
      description: >
        Órdenes crudas normalizadas de FSM `POST /account/process`
        (base de los campos 1-3, 15 y 16; también sirve de diagnóstico).
        **1 llamada upstream.** No devuelve 404: una cuenta sin órdenes es un
        `orders: []` legítimo.
      operationId: getAccountOrders
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
        - name: estado
          in: query
          required: false
          description: >
            `Todas`: finalizadas y no finalizadas. `Pendientes`: solo las que
            aún no finalizan (`finish_date is null`).
          schema:
            type: string
            enum: [Todas, Pendientes]
            default: Todas
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountOrders'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'

  /workorders/tasks:
    get:
      tags: [Tareas y Visitas]
      summary: Tareas y notas de una orden de trabajo
      description: >
        Notas de cierre de una orden concreta (campos 15 y 16), desde FSM
        `POST /workorder/tasks`. **1 llamada upstream**, disparada al expandir
        una visita.


        ⚠ `workOrder` va por **query, no por path**: el valor es
        `ORDER/424900/2026` y las barras rompen el ruteo aunque se codifiquen
        como `%2F` (Fastify y varios proxies las normalizan).
      operationId: getWorkOrderTasks
      parameters:
        - name: workOrder
          in: query
          required: true
          description: Número de orden, tal cual lo devuelve `/account/process`.
          schema:
            type: string
            minLength: 1
            maxLength: 120
            example: ORDER/424900/2026
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrderTasks'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'

  # ====================================================================
  # INTEGRACIONES (FSM)
  # ====================================================================

  /integrations/fsm/health:
    get:
      tags: [Integraciones]
      summary: Estado de la integración con FSM
      description: >
        Qué marcas tienen acceso configurado, de qué tipo, cuándo vence su token
        y cuánto le queda. **CERO llamadas a la operadora**: el estado se calcula
        decodificando el `exp` del JWT. Es lo que permite a la UI pintar el
        banner correcto sin gastar una consulta a producción.


        Nunca falla con 5xx por culpa de FSM: si no hay nada configurado,
        responde 200 con todas las marcas en `available:false`.
        El header `X-Wifix-Brand` se ignora: informa de todas las marcas.
      operationId: getFsmHealth
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FsmHealth'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/status-batch:
    post:
      tags: [Integraciones]
      summary: Estado de varias cuentas en lote (campo 8, paso 2)
      description: >
        Resuelve el estado A/S/T/O/P de hasta `FSM_STATUS_BATCH_LIMIT` (12)
        cuentas: es el paso 2 del campo 8, el que llena los `clientStatus` de
        `GET /naps/{napRef}/ports`. Internamente hace una llamada a
        `POST /account/status` por cuenta única, con concurrencia 4 y cache de
        5 minutos.


        **Se dispara SOLO por acción explícita del técnico** ("Consultar estado
        de N clientes"), nunca de forma automática ni en segundo plano: cada
        consulta golpea producción (ADR-05).


        Un fallo aislado no tumba el lote: esa cuenta vuelve con `status: null`
        y su `error`. Un fallo de token sí es global (503).
      operationId: postAccountsStatusBatch
      parameters:
        - $ref: '#/components/parameters/BrandHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusBatchRequest'
      responses:
        '200':
          description: OK. Siempre 200 si la petición fue válida, aunque algunas cuentas fallen.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'

# ======================================================================
# COMPONENTES
# ======================================================================

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT emitido por POST /auth/login.

  # --------------------------------------------------------------------
  # PARÁMETROS REUTILIZABLES
  # --------------------------------------------------------------------
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      description: Identificador del recurso.
      schema:
        type: string
        format: uuid
    AccountNumberPath:
      name: accountNumber
      in: path
      required: true
      description: Número de cuenta del cliente.
      schema:
        type: string
    TerminalIdPath:
      name: id
      in: path
      required: true
      description: >
        Serial GPON (fibra) o MAC del cablemódem (HFC). Las MAC se aceptan
        con o sin separadores; el backend las normaliza a hexadecimal plano
        en mayúsculas porque IIS rechaza los ":" en la ruta.
      schema:
        type: string
        example: ZTEGC1234567
    BrandHeader:
      name: X-Wifix-Brand
      in: header
      required: false
      description: >
        Marca comercial (realm de FSM) con la que se consulta la operadora.
        Si falta, el backend usa `FSM_DEFAULT_BRAND`. Internamente nunca se
        habla de "realm": los nombres `realm-ecommerce-callcenter-*` quedan
        encerrados en el backend y el técnico no los ve (ADR-01).
      schema:
        type: string
        enum: [telenews, seteinfo]
        example: telenews
    BrandQuery:
      name: brand
      in: query
      required: false
      description: >
        Override de `X-Wifix-Brand` por query. Pensado para el script de sondeo
        y soporte; la webapp usa el header.
      schema:
        type: string
        enum: [telenews, seteinfo]
    AccountNumberFilter:
      name: accountNumber
      in: query
      description: Filtrar por número de cuenta del cliente (clave de Fase 1).
      schema:
        type: string
    ClientIdFilter:
      name: clientId
      in: query
      description: Filtrar por cliente (referencia upstream, opcional).
      schema:
        type: string
    ContractIdFilter:
      name: contractId
      in: query
      description: Filtrar por contrato (referencia upstream, opcional).
      schema:
        type: string
    VisitIdFilter:
      name: visitId
      in: query
      description: Filtrar por visita u orden de trabajo (referencia upstream, opcional).
      schema:
        type: string
    TechnicianIdFilter:
      name: technicianId
      in: query
      description: Filtrar por técnico (referencia upstream, opcional).
      schema:
        type: string
    DateFrom:
      name: dateFrom
      in: query
      description: Fecha-hora inicial del rango (ISO 8601).
      schema:
        type: string
        format: date-time
    DateTo:
      name: dateTo
      in: query
      description: Fecha-hora final del rango (ISO 8601).
      schema:
        type: string
        format: date-time
    Page:
      name: page
      in: query
      description: Número de página (inicia en 1).
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: pageSize
      in: query
      description: Cantidad de elementos por página.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  # --------------------------------------------------------------------
  # RESPUESTAS REUTILIZABLES
  # --------------------------------------------------------------------
  responses:
    BadRequest:
      description: Solicitud inválida.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Token ausente, inválido o expirado / credenciales incorrectas.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Recurso no encontrado.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ConnectorError:
      description: >
        Un sistema externo falló (5xx, timeout o JSON inválido). No es un
        problema de credenciales.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UpstreamAuthUnavailable:
      description: >
        El acceso a FSM no está disponible: token ausente, vencido o rechazado.


        **Es 503 a propósito, nunca 401.** La webapp cierra la sesión del
        técnico ante cualquier 401 (`api.js`), y un token caducado de un tercero
        no puede sacarlo al login en medio de una visita ni tumbarle Herramientas
        y Equipos Retirados, que no dependen de FSM.


        El cliente debe pintar un banner no bloqueante en el panel afectado y
        **no** cerrar sesión, no limpiar el token de Wifix y no recargar la app.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpstreamAuthError'

  # --------------------------------------------------------------------
  # ESQUEMAS
  # --------------------------------------------------------------------
  schemas:

    # ---- Comunes -----------------------------------------------------

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Código de error legible por máquina.
          example: VALIDATION_ERROR
        message:
          type: string
          description: Descripción del error legible por humanos.
          example: El campo accountNumber es obligatorio.
        details:
          type: array
          description: Detalle por campo, cuando aplica.
          items:
            type: object
            properties:
              field:
                type: string
              issue:
                type: string
        meta:
          type: object
          additionalProperties: true
          description: >
            Contexto adicional legible por máquina (integración, marca, motivo).
            Opcional y aditivo: el cliente nunca debe asumir que existe.

    UpstreamAuthError:
      type: object
      description: >
        Error de autenticación contra una API de terceros (hoy FSM). Siempre
        HTTP 503.
      required: [code, message]
      properties:
        code:
          type: string
          enum: [UPSTREAM_AUTH_ERROR]
        message:
          type: string
          description: Texto en español, listo para mostrar al técnico.
          example: >-
            El token de FSM (marca telenews) venció el 05/09/2026 21:59. Pide la
            renovación al contacto de la operadora.
        meta:
          type: object
          properties:
            integration:
              type: string
              example: FSM
            brand:
              type: string
              enum: [telenews, seteinfo]
            reason:
              type: string
              enum: [MISSING, EXPIRED, REJECTED]
              description: >
                `MISSING`: no hay acceso configurado en el servidor.
                `EXPIRED`: el token venció (detectado SIN salir a la red).
                `REJECTED`: la operadora lo rechazó (revocado o de otro realm).
            tokenExpiresAt:
              type: string
              format: date-time
              nullable: true
            retryable:
              type: boolean
              example: false

    Degraded:
      type: object
      description: >
        Aviso de que una respuesta 200 se sirvió con una fuente alternativa o
        incompleta. **No es un error.** Ausente cuando todo salió bien; el
        cliente nunca debe asumir que existe.
      required: [reason, message]
      properties:
        reason:
          type: string
          enum: [FSM_AUTH, FSM_UNAVAILABLE, SOURCE_FALLBACK, TRUNCATED]
        message:
          type: string
          description: Texto en español, listo para mostrar.

    PageInfo:
      type: object
      properties:
        page:
          type: integer
          example: 1
        pageSize:
          type: integer
          example: 20
        totalItems:
          type: integer
          example: 137
        totalPages:
          type: integer
          example: 7

    PagedResponse:
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageInfo'
        data:
          type: array
          items: {}

    GeoPoint:
      type: object
      description: Coordenada geográfica.
      required: [latitude, longitude]
      properties:
        latitude:
          type: number
          format: double
          example: -0.180653
        longitude:
          type: number
          format: double
          example: -78.467834

    ServiceContext:
      type: object
      description: >
        Referencias del registro hacia el cliente y la orden de trabajo.
        En la Fase 1 la clave práctica es `accountNumber`. Los demás
        identificadores son opcionales: provendrán de un sistema upstream
        por definir y en Fase 1 se completan con valores de prueba.
      required: [accountNumber]
      properties:
        accountNumber:
          type: string
          description: >
            Número de cuenta del cliente ingresado por el técnico. Clave
            práctica de la Fase 1.
          example: WX-548210
        clientId:
          type: string
          description: >
            Identificador del cliente. Opcional. Referencia upstream por
            definir; en Fase 1 es un valor de prueba.
        contractId:
          type: string
          description: >
            Identificador del contrato. Opcional. En una fase posterior
            será reemplazado por `taskId`.
        visitId:
          type: string
          description: >
            Identificador de la visita u orden de trabajo. Opcional.
            Referencia upstream por definir; en Fase 1 es un valor de prueba.
        technicianId:
          type: string
          description: >
            Identificador del técnico. Opcional. No hay autenticación en
            la Fase 1.

    # ---- Catálogos ---------------------------------------------------

    SpeedtestServer:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: Servidor Quito
        host:
          type: string
          example: quito.speedtest.example.com
        city:
          type: string
          example: Quito
        location:
          $ref: '#/components/schemas/GeoPoint'
        active:
          type: boolean
          default: true

    NetworkServer:
      type: object
      description: Servidor común sugerido para pruebas de ping y traceroute.
      properties:
        id:
          type: string
        name:
          type: string
          example: Google DNS
        target:
          type: string
          description: IP o URL del servidor.
          example: 8.8.8.8
        type:
          type: string
          enum: [DNS, GATEWAY, CDN, GENERIC]
        active:
          type: boolean
          default: true

    EquipmentSerialFieldType:
      type: string
      description: >
        Campo del código de barras que debe leerse como número de serie
        según el modelo de equipo.
      enum: [SN, HOST-SN, PON-SN, GPON-SN, D-SN]

    EquipmentCategory:
      type: string
      enum: [DECODIFICADOR, DECODIFICADOR_HD, MTA, ONU, ONT, ROUTER]

    EquipmentModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: ONT Huawei OptiXstar
        category:
          $ref: '#/components/schemas/EquipmentCategory'
        serialFieldType:
          $ref: '#/components/schemas/EquipmentSerialFieldType'
        brand:
          type: string
          example: Huawei
        active:
          type: boolean
          default: true

    RemovalReasonCode:
      type: string
      description: Código del motivo de retiro de un equipo.
      enum:
        - DANO_FISICO
        - NO_ENCIENDE
        - PUERTO_DANADO
        - EQUIPO_INHIBIDO
        - NO_DA_SERVICIO
        - NO_SE_APROVISIONA
        - EQUIPO_OK_CANCELACION
        - OTROS

    RemovalReason:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/RemovalReasonCode'
        label:
          type: string
          example: Puerto LAN o RF dañado (no da conectividad)
        active:
          type: boolean
          default: true

    MediaFile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        contentType:
          type: string
          example: image/jpeg
        sizeBytes:
          type: integer
        createdAt:
          type: string
          format: date-time

    # ---- Medición de distancia (campo 22) ----------------------------

    DistanceMeasurementInput:
      allOf:
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          required: [distanceMeters, measuredAt]
          properties:
            distanceMeters:
              type: number
              format: double
              description: Distancia recorrida del punto A al punto B, en metros.
              example: 142.7
            startPoint:
              $ref: '#/components/schemas/GeoPoint'
            endPoint:
              $ref: '#/components/schemas/GeoPoint'
            measuredAt:
              type: string
              format: date-time
            notes:
              type: string

    DistanceMeasurement:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            createdAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/DistanceMeasurementInput'

    # ---- Test de velocidad (campo 23) --------------------------------

    SpeedtestInput:
      allOf:
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          required: [downloadMbps, uploadMbps, measuredAt]
          properties:
            downloadMbps:
              type: number
              format: double
              example: 185.4
            uploadMbps:
              type: number
              format: double
              example: 92.1
            latencyMs:
              type: number
              format: double
              example: 11.3
            jitterMs:
              type: number
              format: double
              example: 1.8
            packetLossPercent:
              type: number
              format: double
              example: 0
            serverId:
              type: string
            serverName:
              type: string
            ispName:
              type: string
            measuredAt:
              type: string
              format: date-time
            notes:
              type: string

    Speedtest:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            createdAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/SpeedtestInput'

    # ---- Mapa de calor WiFi (campo 24) -------------------------------

    HeatmapRoomInput:
      type: object
      required: [roomName, measurements, measuredAt]
      properties:
        roomName:
          type: string
          example: Dormitorio principal
        floor:
          type: integer
          description: Piso de la habitación. Usar 1 si la vivienda tiene un solo piso.
          default: 1
          example: 2
        measurements:
          type: array
          minItems: 1
          description: >
            Lecturas de señal en este punto, una entrada por AP detectado en el
            scan WiFi. Reemplaza el campo `signalDbm` legacy. Al menos una
            entrada (típicamente la del AP conectado, marcada con
            isConnected=true) debe estar presente.
          items:
            $ref: '#/components/schemas/RoomApMeasurement'
        signalDbm:
          type: number
          format: double
          deprecated: true
          description: >
            DEPRECATED. Reemplazado por `measurements[]`. Sólo presente en
            relevamientos en formato anterior (`legacyFormat: true` en la
            respuesta) o en clientes que aún no soportan multi-AP.
          example: -58
        measuredAt:
          type: string
          format: date-time
        notes:
          type: string

    HeatmapRoom:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            legacyFormat:
              type: boolean
              default: false
              description: >
                True si esta habitación proviene del modelo viejo (un único
                `signalDbm` por habitación) y fue migrada con una entrada
                sintética en `measurements`. El frontend puede usar este flag
                para mostrar un aviso y desactivar la vista "Por equipo".
        - $ref: '#/components/schemas/HeatmapRoomInput'

    WifiHeatmapInput:
      allOf:
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          required: [rooms]
          properties:
            label:
              type: string
            rooms:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/HeatmapRoomInput'
            notes:
              type: string

    WifiHeatmap:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            createdAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          properties:
            label:
              type: string
            rooms:
              type: array
              items:
                $ref: '#/components/schemas/HeatmapRoom'
            notes:
              type: string

    # ---- Access Points WiFi detectados (auxiliar del campo 24) -------

    RoomApMeasurement:
      type: object
      required: [bssid, signalDbm]
      description: >
        Lectura de señal hacia un AP específico desde un punto de medición
        (una habitación). Permite reconstruir la cobertura por equipo.
      properties:
        bssid:
          type: string
          description: MAC del radio del AP (formato `xx:xx:xx:xx:xx:xx`). Llave técnica para identificar la fuente.
          example: aa:bb:cc:dd:ee:ff
        accessPointId:
          type: string
          format: uuid
          description: Referencia al `WifiAccessPoint` cuando ya fue registrado en la visita. Opcional para soportar scans con APs aún no etiquetados.
        apLabelSnapshot:
          type: string
          description: >
            Nombre amigable del AP al momento de la medición. Histórico —
            no se actualiza si el AP se renombra después. Útil para mostrar
            heatmaps viejos coherentes.
          example: Router principal
        signalDbm:
          type: number
          format: double
          description: Potencia recibida del AP en dBm. Negativo, más cercano a 0 = mejor.
          example: -58
        band:
          type: string
          enum: ["2.4GHz", "5GHz", "6GHz", "unknown"]
          default: unknown
        channel:
          type: integer
          description: Canal WiFi (1-13 en 2.4 GHz, 36-165 en 5 GHz, etc.).
          example: 36
        isConnected:
          type: boolean
          default: false
          description: True si el celular del técnico estaba asociado a este BSSID al momento del scan.

    WifiAccessPointInput:
      type: object
      required: [bssid, label]
      properties:
        bssid:
          type: string
          description: MAC del radio del AP (formato `xx:xx:xx:xx:xx:xx`). Único por equipo y banda.
          example: aa:bb:cc:dd:ee:ff
        ssid:
          type: string
          description: Nombre de red detectado durante el scan.
          example: Casa_Perez
        label:
          type: string
          description: Nombre amigable puesto por el técnico (visible en la UI).
          example: Router principal
        apType:
          type: string
          enum: [router, extender, mesh_node, unknown]
          default: unknown
          description: Tipo de equipo. Puede dejarse "unknown" si el técnico no está seguro.
        band:
          type: string
          enum: ["2.4GHz", "5GHz", "6GHz", "unknown"]
          default: unknown
          description: Banda principal de operación detectada para este BSSID. Un router dual-band típicamente tiene dos BSSIDs (uno por banda).
        notes:
          type: string

    WifiAccessPoint:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            accountNumber:
              type: string
              description: Cuenta del cliente a la que pertenece este equipo. Permite reusar los labels entre visitas de la misma cuenta.
              example: WX-100123
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/WifiAccessPointInput'

    WifiAccessPointUpdate:
      type: object
      description: Campos editables de un `WifiAccessPoint`. Todos opcionales.
      properties:
        label:
          type: string
        apType:
          type: string
          enum: [router, extender, mesh_node, unknown]
        band:
          type: string
          enum: ["2.4GHz", "5GHz", "6GHz", "unknown"]
        notes:
          type: string

    # ---- Ping (campo 25) ---------------------------------------------

    PingTestInput:
      allOf:
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          required: [target, measuredAt]
          properties:
            target:
              type: string
              description: IP o URL a la que se ejecutó el ping.
              example: 8.8.8.8
            serverId:
              type: string
            packetsSent:
              type: integer
              example: 10
            packetsReceived:
              type: integer
              example: 10
            packetLossPercent:
              type: number
              format: double
              example: 0
            minLatencyMs:
              type: number
              format: double
            avgLatencyMs:
              type: number
              format: double
            maxLatencyMs:
              type: number
              format: double
            continuous:
              type: boolean
              default: false
            heatmapId:
              type: string
              format: uuid
              description: Mapa de calor al que se asocia este ping, si aplica.
            roomName:
              type: string
            measuredAt:
              type: string
              format: date-time
            notes:
              type: string

    PingTest:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            createdAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/PingTestInput'

    # ---- Traceroute (campo 26) ---------------------------------------

    TracerouteHop:
      type: object
      required: [hopNumber]
      properties:
        hopNumber:
          type: integer
          example: 3
        host:
          type: string
          description: Host o IP del salto. Nulo si el salto no respondió.
          example: 10.0.0.1
        latencyMs:
          type: number
          format: double

    TracerouteTestInput:
      allOf:
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          required: [target, hops, measuredAt]
          properties:
            target:
              type: string
              example: www.example.com
            serverId:
              type: string
            hops:
              type: array
              items:
                $ref: '#/components/schemas/TracerouteHop'
            measuredAt:
              type: string
              format: date-time
            notes:
              type: string

    TracerouteTest:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            createdAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/TracerouteTestInput'

    # ---- Equipos retirados (campo 27) --------------------------------

    RetiredEquipmentInput:
      allOf:
        - $ref: '#/components/schemas/ServiceContext'
        - type: object
          required:
            - equipmentModelId
            - serialValue
            - removalReasonCode
            - retiredAt
          properties:
            equipmentModelId:
              type: string
              description: Modelo del equipo retirado (ver catálogo de modelos).
            serialValue:
              type: string
              description: Número de serie ya decodificado por la app.
              example: 48575443A1B2C3D4
            barcodePhotoId:
              type: string
              format: uuid
              description: Identificador de la foto del código de barras (ver POST /media).
            removalReasonCode:
              $ref: '#/components/schemas/RemovalReasonCode'
            observations:
              type: string
            retiredAt:
              type: string
              format: date-time

    RetiredEquipment:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
            createdAt:
              type: string
              format: date-time
        - $ref: '#/components/schemas/RetiredEquipmentInput'
        - type: object
          properties:
            serialFieldType:
              $ref: '#/components/schemas/EquipmentSerialFieldType'
            barcodePhotoUrl:
              type: string
              format: uri
              description: URL de la foto, resuelta desde barcodePhotoId.

    # ---- Historial de la cuenta --------------------------------------

    AccountToolHistory:
      type: object
      properties:
        accountNumber:
          type: string
        distanceMeasurements:
          type: array
          items:
            $ref: '#/components/schemas/DistanceMeasurement'
        speedtests:
          type: array
          items:
            $ref: '#/components/schemas/Speedtest'
        wifiHeatmaps:
          type: array
          items:
            $ref: '#/components/schemas/WifiHeatmap'
        pingTests:
          type: array
          items:
            $ref: '#/components/schemas/PingTest'
        tracerouteTests:
          type: array
          items:
            $ref: '#/components/schemas/TracerouteTest'
        retiredEquipment:
          type: array
          items:
            $ref: '#/components/schemas/RetiredEquipment'

    # ---- Autenticación -----------------------------------------------

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: franco@tulpasolutions.com
        password:
          type: string
          format: password

    LoginResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT para el header Authorization Bearer.
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        active:
          type: boolean

    # ---- Datos del cliente (campos 1-5, 7) ---------------------------

    ClientProfile:
      type: object
      properties:
        accountNumber:
          type: string
        fullName:
          type: string
          description: Nombres y apellidos (campo 1).
        address:
          type: string
          description: Dirección (campo 2).
        phones:
          type: array
          description: Teléfonos (campo 3).
          items:
            type: string
        planName:
          type: string
        contractedDownloadMbps:
          type: number
          format: double
          description: Velocidad de descarga contratada (campo 5).
        contractedUploadMbps:
          type: number
          format: double
          description: Velocidad de subida contratada (campo 5).
        email:
          type: string
          nullable: true
          description: Correo del cliente según FSM. Puede ser null.
        latitude:
          type: number
          format: double
          nullable: true
          description: >
            Coordenada del domicilio según la orden más reciente. Es la entrada
            del campo 6: evita que el técnico tenga que capturar GPS cuando la
            orden ya trae la coordenada.
        longitude:
          type: number
          format: double
          nullable: true
        sources:
          type: object
          description: >
            De dónde salió cada campo. `FSM` = dato real de la operadora,
            `MOCK` = simulado (o editado a mano con el PUT), `COMARCH` = TYTAN.
            La UI marca visualmente lo que no es `FSM`. Aditivo: quien lo ignore
            sigue funcionando.
          additionalProperties:
            type: string
            enum: [FSM, MOCK, COMARCH]
          example:
            fullName: FSM
            address: FSM
            phones: FSM
            email: FSM
            latitude: FSM
            longitude: FSM
            planName: MOCK
            contractedDownloadMbps: MOCK
            contractedUploadMbps: MOCK

    ClientProfileUpdate:
      type: object
      description: Campos editables del módulo de actualización de datos (campo 4).
      properties:
        fullName:
          type: string
        address:
          type: string
        phones:
          type: array
          items:
            type: string

    AccountStatus:
      type: string
      description: >
        Estado de la cuenta en el modelo interno. FSM publica cinco códigos
        (A/S/T/O/P); todo lo demás cae en DESCONOCIDA.
      enum: [ACTIVA, SUSPENDIDA, TERMINADA, ORDENADA, PENDIENTE, DESCONOCIDA]

    AccountStatusCode:
      type: string
      nullable: true
      description: >
        Código crudo de la operadora: A (activo), S (suspendido), T (terminado),
        O (ordenado), P (pendiente). `null` si no vino o no se reconoció.
      enum: [A, S, T, O, P, null]

    ContractStatus:
      type: object
      description: >
        FSM no devuelve "otras cuentas del mismo contrato": `accounts` trae
        exactamente un elemento hasta que exista ese endpoint.
      properties:
        clientName:
          type: string
          description: Nombre del cliente según la orden más reciente. `""` si FSM no lo trajo.
        accounts:
          type: array
          items:
            type: object
            properties:
              accountNumber:
                type: string
              contractId:
                type: string
                nullable: true
                description: >
                  ⚠ Ahora puede ser `null`: FSM no expone contrato, solo órdenes
                  de trabajo.
              status:
                $ref: '#/components/schemas/AccountStatus'
              statusCode:
                $ref: '#/components/schemas/AccountStatusCode'
              statusDescription:
                type: string
                nullable: true
                description: Texto literal de la operadora ("Activo", "Suspendido"…).
              lastWorkOrder:
                type: string
                nullable: true
                description: Orden de trabajo más reciente de `/account/process`.
                example: ORDER/424900/2026
        brand:
          type: string
          enum: [telenews, seteinfo]
          description: Marca efectivamente usada en la consulta.

    # ---- Diagnóstico de red (campos 6, 8-14, 19-21) ------------------

    NearbyNap:
      type: object
      description: NAP cercana (campo 6). La fuente la indica `source`.
      properties:
        napId:
          type: integer
          nullable: true
          description: >
            Id numérico de la NAP en FSM. Es la entrada de
            `GET /naps/{napRef}/ports`. `null` cuando la fuente es TEC.
          example: 11547
        napCode:
          type: string
          example: PL2KD9
        networkName:
          type: string
          nullable: true
          description: >
            Red de acceso (OLT/puerto) de la que cuelga la NAP. Nunca se rotula
            como "nodo": la operadora confirmó que ese concepto no existe.
            `null` cuando la fuente es TEC.
          example: OLT-GYE-03/1/2
        latitude:
          type: number
          format: double
          nullable: true
          description: Coordenada de la NAP; null si la operadora no la devuelve.
        longitude:
          type: number
          format: double
          nullable: true
        distanceMeters:
          type: number
          format: double
          description: Distancia calculada por la operadora desde la coordenada consultada.
        occupiedPorts:
          type: integer
        totalPorts:
          type: integer
        freePorts:
          type: integer
          description: totalPorts - occupiedPorts, nunca negativo.
        source:
          type: string
          enum: [FSM, TEC]
          description: De dónde salió la fila (ver `NAPS_PRIMARY_SOURCE`, ADR-04).

    NapPort:
      type: object
      properties:
        portNumber:
          type: integer
        occupied:
          type: boolean
        clientAccountNumber:
          type: string
          nullable: true
          description: Cuenta del cliente en el puerto; `null` si está libre.
        equipmentId:
          type: string
          nullable: true
          description: Serial/ID GPON del equipo conectado. `null` si no vino.
          example: ZTEGD52E1A9B
        clientStatus:
          $ref: '#/components/schemas/AccountStatusCode'
        statusPending:
          type: boolean
          description: >
            `true` en los puertos ocupados cuyo estado todavía no se consultó.
            Se resuelven con `POST /accounts/status-batch` (paso 2).

    NapPorts:
      type: object
      properties:
        napRef:
          type: string
          description: Valor tal como llegó en la ruta (id numérico o código de NAP).
        napId:
          type: integer
          nullable: true
        napCode:
          type: string
          nullable: true
        ports:
          type: array
          description: Vacío cuando `detailAvailable` es false (camino TEC).
          items:
            $ref: '#/components/schemas/NapPort'
        detailAvailable:
          type: boolean
          description: >
            false por el camino TEC: esa API solo publica el conteo
            ocupados/total en el listado de NAPs (el detalle vive en
            tec.grupotvcable.com/Gpon/Coverage, que aún no es API). Con FSM y un
            `napId` numérico es true.
        occupiedPorts:
          type: integer
        totalPorts:
          type: integer
          description: >
            Se toma del `ports` de `/naps/nearest` memorizado. Si no se puede
            determinar, se devuelven solo los puertos conocidos y viene
            `degraded.reason: TRUNCATED`.
        note:
          type: string
          description: Explicación para mostrar al técnico cuando no hay detalle.
        statusFanOut:
          type: object
          description: Cuántos estados quedan por resolver y con qué tope (paso 2).
          properties:
            supported:
              type: boolean
              description: false por el camino TEC.
            pendingAccounts:
              type: integer
            batchLimit:
              type: integer
              example: 12
        source:
          type: string
          enum: [FSM, TEC]
        degraded:
          $ref: '#/components/schemas/Degraded'

    StatusBatchRequest:
      type: object
      required: [accounts]
      properties:
        accounts:
          type: array
          description: >
            Cuentas a consultar. Los duplicados se deduplican en silencio.
            Más de `batchLimit` (12) es un 400.
          minItems: 1
          maxItems: 12
          items:
            type: string
            minLength: 1
          example: ['35070291', '71398253', '40012345']

    StatusBatchResponse:
      type: object
      properties:
        brand:
          type: string
          enum: [telenews, seteinfo]
        items:
          type: array
          description: >
            Conserva el orden de entrada, con exactamente un elemento por cuenta
            única.
          items:
            type: object
            properties:
              accountNumber:
                type: string
              status:
                allOf:
                  - $ref: '#/components/schemas/AccountStatus'
                nullable: true
              statusCode:
                $ref: '#/components/schemas/AccountStatusCode'
              statusDescription:
                type: string
                nullable: true
              error:
                type: string
                nullable: true
                description: Motivo del fallo de ESA cuenta. Un fallo aislado no tumba el lote.
        requested:
          type: integer
          description: Cuentas únicas efectivamente consultadas.
        resolved:
          type: integer
        failed:
          type: integer

    FsmHealth:
      type: object
      description: Estado de la integración FSM. No implica ninguna llamada a la operadora.
      properties:
        mode:
          type: string
          enum: [mock, real]
          description: Valor efectivo de `connectorMode('fsm')`.
        defaultBrand:
          type: string
          example: telenews
        napsPrimarySource:
          type: string
          enum: [fsm, tec]
        brands:
          type: array
          items:
            type: object
            properties:
              brand:
                type: string
                enum: [telenews, seteinfo]
              available:
                type: boolean
              reason:
                type: string
                nullable: true
                enum: [MISSING, EXPIRED, REJECTED, null]
              tokenSource:
                type: string
                nullable: true
                enum: [STATIC, CLIENT_CREDENTIALS, null]
              expiresAt:
                type: string
                format: date-time
                nullable: true
              expiresInSeconds:
                type: integer
                nullable: true
                description: Negativo si el token ya venció.

    FlatField:
      type: object
      description: Campo suelto de la ficha del terminal, tal como lo nombra ISP Monitor.
      properties:
        key:
          type: string
        path:
          type: string
          description: Ruta completa cuando el campo venía anidado (`evento.descripcion`).
        value:
          nullable: true
          oneOf:
            - type: string
            - type: number
            - type: boolean

    TerminalHistoryEntry:
      type: object
      description: >
        Equipos que pasaron por ese puerto en un período. Sale de `terminals[]`
        de la API y le sirve al técnico para ver si el equipo anterior del
        domicilio venía cayéndose.
      properties:
        period:
          type: string
          description: LastHour | LastDay | LastWeek | LastMonth, tal como lo nombra la operadora.
          example: LastMonth
        ids:
          type: array
          items:
            type: string
          example: [ZTEGD0BB8294, ZTEGD3F9BBE5]
        statuses:
          type: array
          description: Estado de cada equipo de `ids`, en el mismo orden (`up` / `down`).
          items:
            type: string
          example: [down, up]
        drop:
          type: string
          nullable: true
        events:
          type: string
          nullable: true

    TerminalSnapshot:
      type: object
      description: >
        Estado puntual del equipo y evento asociado. Shape verificado contra la
        API real el 2026-08-26 con un ONT ZTE activo.
      properties:
        id:
          type: string
          example: ZTEGD3F9BBE5
        found:
          type: boolean
          description: false cuando ISP Monitor no tiene datos para ese identificador (204).
        online:
          type: boolean
          nullable: true
          description: Estado del equipo del cliente; sale del campo `status` de la API (`up` / `down`).
        technology:
          type: string
          nullable: true
          enum: [GPON, HFC]
        city:
          type: string
          nullable: true
          example: Quito
        networkIds:
          type: array
          description: >
            Identificadores de la red de acceso a la que cuelga el equipo. NO es
            un nodo: la operadora aclaró (2026-08-27) que estos datos se toman
            de una tarjeta de CMTS (HFC — puede cubrir un ramal, un nodo o una
            combinación) o de un puerto de OLT (GPON — un hilo de fibra).
          items:
            type: integer
          example: [9198]
        event:
          type: object
          nullable: true
          description: >
            Evento (daño) asociado. `active` es false cuando el campo `events`
            de la API viene vacío o null.
          properties:
            active:
              type: boolean
            description:
              type: string
              nullable: true
        drop:
          type: object
          description: >
            Caída de red detectada por el sistema de monitoreo de la operadora
            (campo `drop` de la API). Es el único campo "extra" de la ficha que
            la operadora confirmó relevante (2026-08-27); `device`, `ifIndex` e
            `index` son internos del monitoreo y no se exponen en `fields`.
          properties:
            detected:
              type: boolean
            description:
              type: string
              nullable: true
        history:
          type: array
          items:
            $ref: '#/components/schemas/TerminalHistoryEntry'
        fields:
          type: array
          description: >
            Resto de la ficha aplanada, sin repetir lo que ya tiene campo propio
            ni los campos internos del monitoreo (`device`, `ifIndex`, `index`),
            que siguen disponibles en `raw`.
          items:
            $ref: '#/components/schemas/FlatField'
        raw:
          description: Payload original de la API de operadora.
          nullable: true
        fetchedAt:
          type: string
          format: date-time

    SeriesPoint:
      type: object
      properties:
        t:
          type: string
          nullable: true
          description: >
            Instante de la muestra en ISO-8601. Si la operadora manda un
            formato no parseable se devuelve el texto original; null si la
            serie no trae marca de tiempo.
        values:
          type: object
          description: Métricas numéricas de la muestra, por nombre de clave.
          additionalProperties:
            type: number
        meta:
          type: object
          description: Campos no numéricos de la muestra (estado, descripción…).
          additionalProperties:
            type: string

    SeriesChannel:
      type: object
      description: >
        Canal de una métrica desglosada. Los endpoints DOCSIS de SNR y
        codewords devuelven una entrada por canal upstream del cablemódem,
        cada una con su propia serie.
      properties:
        label:
          type: string
          description: Nombre del canal (`desc` de la operadora).
          example: Logical Upstream Channel 0/1.1/0
        network:
          type: string
          nullable: true
          example: 2G-2 v
        ifIndex:
          type: integer
          nullable: true
          example: 5000018
        keys:
          type: array
          items:
            type: string
        points:
          type: array
          items:
            $ref: '#/components/schemas/SeriesPoint'

    Series24h:
      type: object
      description: >
        Serie de las últimas 24 horas ya normalizada. La operadora la devuelve
        como tuplas `[[epochSegundos, valor], …]` — 288 muestras, una cada 5
        minutos — sin nombrar las columnas; el backend les pone nombre según la
        métrica y el ámbito:
        `terminal/status` → `online` (1 = en línea, 0 = caído);
        `network/status` → `terminalsOnline` (cuántos equipos de la misma red de
        acceso están en línea, **no** un 0/1; la operadora no publica el total de
        la red, así que no se puede derivar un porcentaje);
        `snr` → `snr` o `snrDown`/`snrUp` según cuántas columnas traiga;
        `codewords` → `errors` o `corrected`/`uncorrected`.
        Las métricas DOCSIS llegan además desglosadas por canal upstream: la
        respuesta es un array de canales, cada uno con su `data` — ver
        `channels`.
        La ventana es siempre de 24 horas contadas desde el instante de la
[...]
