openapi: 3.0.3

info:
  title: API de Herramientas y Equipos Retirados
  description: >
    Módulo de backend de la app Wifix (Fase 1). Cubre dos dominios del
    servicio de operaciones de campo:

      1. HERRAMIENTAS — almacenamiento de resultados de mediciones:
         medición de distancia, test de velocidad, mapa de calor WiFi,
         ping y traceroute.
      2. EQUIPOS RETIRADOS — registro de equipos retirados o reemplazados.

    CLAVE DE IDENTIFICACIÓN (FASE 1)
    ----------------------------------------------------------------------
    En la Fase 1 la clave práctica de cada registro es `accountNumber`:
    el número de cuenta del cliente que el técnico ingresa en la app.
    Los demás identificadores (`clientId`, `visitId`, `technicianId`) son
    opcionales: provendrán de un sistema upstream aún por definir y en la
    Fase 1 se completan con valores de prueba. `contractId` también es
    opcional y en una fase posterior será reemplazado por `taskId`.

    AUTENTICACIÓN
    ----------------------------------------------------------------------
    La app tiene login propio. POST /auth/login devuelve un JWT que el
    resto de endpoints exige en el header Authorization: Bearer.

    DATOS DE SISTEMAS EXTERNOS (MOCKUP)
    ----------------------------------------------------------------------
    Los campos que provienen de sistemas de la operadora (Comarch/TYTAN,
    FSM, ISP Monitor, ACS, TEC, RMS) se sirven en esta etapa con datos
    simulados, para demostrar y probar la app. El contrato no cambia
    cuando se conecten las APIs reales.
  version: 1.0.0
  contact:
    name: Tulpa Solutions S.A.S.

servers:
  - url: https://api.ejemplo.com/herramientas/v1
    description: Producción (URL definitiva por coordinar)
  - url: http://localhost:8080/herramientas/v1
    description: Desarrollo local

tags:
  - name: Catálogos
    description: Datos de referencia de solo lectura.
  - name: Medición de Distancia
    description: Herramienta de odómetro GPS (campo 22).
  - name: Test de Velocidad
    description: Resultados de speedtest (campo 23).
  - name: Mapa de Calor WiFi
    description: Mediciones de potencia de señal WiFi por habitación (campo 24).
  - name: Ping
    description: Resultados de pruebas de ping (campo 25).
  - name: Traceroute
    description: Resultados de pruebas de traceroute (campo 26).
  - name: Equipos Retirados
    description: Registro de equipos retirados o reemplazados (campo 27).
  - name: Media
    description: Subida de archivos (fotos de código de barras, etc.).
  - name: Historial de la Cuenta
    description: Consulta agregada de los registros de este módulo por cuenta.
  - name: Autenticación
    description: Login de la app y emisión de token.
  - name: Datos del Cliente
    description: Perfil, status y actualización de datos del cliente (campos 1-5, 7).
  - name: Diagnóstico de Red
    description: >
      NAPs, métricas de red, eventos de la red de acceso y red local
      (campos 6, 8-14, 19-21).
  - name: Tareas y Visitas
    description: >
      Tareas insatisfactorias, visitas anteriores, órdenes y notas de cierre
      (campos 15-16).
  - name: Integraciones
    description: >
      Diagnóstico de la integración con FSM (`fsm-data-ms`) y consultas en lote.
  - name: Validación de Equipo
    description: >
      Catálogo de equipos homologados y validación del equipo a instalar contra
      la velocidad del plan contratado (Instalaciones, Migraciones, Visita técnica).

security:
  - bearerAuth: []

paths:

  # ====================================================================
  # AUTENTICACIÓN
  # ====================================================================

  /auth/login:
    post:
      tags: [Autenticación]
      summary: Iniciar sesión
      description: Valida correo y contraseña y devuelve un JWT.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/me:
    get:
      tags: [Autenticación]
      summary: Datos del usuario autenticado
      operationId: getCurrentUser
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ====================================================================
  # CATÁLOGOS
  # ====================================================================

  /catalogs/speedtest-servers:
    get:
      tags: [Catálogos]
      summary: Lista de servidores de test de velocidad
      operationId: listSpeedtestServers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpeedtestServer'

  /catalogs/network-servers:
    get:
      tags: [Catálogos]
      summary: Lista de servidores comunes para ping y traceroute
      operationId: listNetworkServers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NetworkServer'

  /catalogs/equipment-models:
    get:
      tags: [Catálogos]
      summary: Lista de modelos de equipo
      description: >
        Modelos de equipo con el tipo de campo de serie que debe leerse
        del código de barras (SN, HOST-SN, PON-SN, GPON-SN, D-SN).
      operationId: listEquipmentModels
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EquipmentModel'

  /catalogs/removal-reasons:
    get:
      tags: [Catálogos]
      summary: Lista de motivos de retiro
      operationId: listRemovalReasons
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RemovalReason'

  # ====================================================================
  # HERRAMIENTAS — MEDICIÓN DE DISTANCIA (campo 22)
  # ====================================================================

  /distance-measurements:
    get:
      tags: [Medición de Distancia]
      summary: Lista de mediciones de distancia
      operationId: listDistanceMeasurements
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/TaskIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/DistanceMeasurement'
    post:
      tags: [Medición de Distancia]
      summary: Registrar una medición de distancia
      operationId: createDistanceMeasurement
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistanceMeasurementInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceMeasurement'
        '400':
          $ref: '#/components/responses/BadRequest'

  /distance-measurements/{id}:
    get:
      tags: [Medición de Distancia]
      summary: Obtener una medición de distancia
      operationId: getDistanceMeasurement
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistanceMeasurement'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HERRAMIENTAS — TEST DE VELOCIDAD (campo 23)
  # ====================================================================

  /speedtests:
    get:
      tags: [Test de Velocidad]
      summary: Lista de tests de velocidad
      operationId: listSpeedtests
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/ContractIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/TaskIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Speedtest'
    post:
      tags: [Test de Velocidad]
      summary: Registrar un test de velocidad
      operationId: createSpeedtest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeedtestInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Speedtest'
        '400':
          $ref: '#/components/responses/BadRequest'

  /speedtests/{id}:
    get:
      tags: [Test de Velocidad]
      summary: Obtener un test de velocidad
      operationId: getSpeedtest
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Speedtest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HERRAMIENTAS — MAPA DE CALOR WIFI (campo 24)
  # ====================================================================

  /wifi-heatmaps:
    get:
      tags: [Mapa de Calor WiFi]
      summary: Lista de mapas de calor WiFi
      operationId: listWifiHeatmaps
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/TaskIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/WifiHeatmap'
    post:
      tags: [Mapa de Calor WiFi]
      summary: Registrar un mapa de calor WiFi
      description: >
        Crea un relevamiento de cobertura WiFi con una o más mediciones
        por habitación. Si la vivienda tiene un solo piso se usa floor = 1.
      operationId: createWifiHeatmap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiHeatmapInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiHeatmap'
        '400':
          $ref: '#/components/responses/BadRequest'

  /wifi-heatmaps/{id}:
    get:
      tags: [Mapa de Calor WiFi]
      summary: Obtener un mapa de calor WiFi
      operationId: getWifiHeatmap
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiHeatmap'
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountNumber}/wifi-access-points:
    parameters:
      - $ref: '#/components/parameters/AccountNumberPath'
    get:
      tags: [Mapa de Calor WiFi]
      summary: Listar APs WiFi registrados de una cuenta
      description: >
        APs (router, extensores, nodos mesh) que el técnico identificó en
        visitas anteriores de esta cuenta. El frontend los usa para
        pre-cargar nombres por BSSID al iniciar un nuevo relevamiento.
      operationId: listAccountWifiAccessPoints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WifiAccessPoint'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Mapa de Calor WiFi]
      summary: Registrar (o actualizar) un AP WiFi de la cuenta
      description: >
        Crea un `WifiAccessPoint` para la cuenta. Si ya existe uno con el
        mismo `bssid` para esta cuenta, el servidor lo actualiza
        (upsert por `accountNumber` + `bssid`).
      operationId: createAccountWifiAccessPoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiAccessPointInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiAccessPoint'
        '200':
          description: Actualizado (upsert)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiAccessPoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /wifi-access-points/{id}:
    parameters:
      - $ref: '#/components/parameters/ResourceId'
    patch:
      tags: [Mapa de Calor WiFi]
      summary: Renombrar o corregir un AP WiFi
      operationId: updateWifiAccessPoint
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiAccessPointUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiAccessPoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HERRAMIENTAS — PING (campo 25)
  # ====================================================================

  /ping-tests:
    get:
      tags: [Ping]
      summary: Lista de pruebas de ping
      operationId: listPingTests
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/TaskIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PingTest'
    post:
      tags: [Ping]
      summary: Registrar una prueba de ping
      description: >
        Almacena el resultado de un ping. Puede asociarse opcionalmente a
        una habitación de un mapa de calor mediante heatmapId y roomName.
      operationId: createPingTest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PingTestInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingTest'
        '400':
          $ref: '#/components/responses/BadRequest'

  /ping-tests/{id}:
    get:
      tags: [Ping]
      summary: Obtener una prueba de ping
      operationId: getPingTest
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PingTest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HERRAMIENTAS — TRACEROUTE (campo 26)
  # ====================================================================

  /traceroute-tests:
    get:
      tags: [Traceroute]
      summary: Lista de pruebas de traceroute
      operationId: listTracerouteTests
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/TaskIdFilter'
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/TracerouteTest'
    post:
      tags: [Traceroute]
      summary: Registrar una prueba de traceroute
      operationId: createTracerouteTest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TracerouteTestInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracerouteTest'
        '400':
          $ref: '#/components/responses/BadRequest'

  /traceroute-tests/{id}:
    get:
      tags: [Traceroute]
      summary: Obtener una prueba de traceroute
      operationId: getTracerouteTest
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracerouteTest'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # EQUIPOS RETIRADOS (campo 27)
  # ====================================================================

  /retired-equipment:
    get:
      tags: [Equipos Retirados]
      summary: Lista de equipos retirados
      operationId: listRetiredEquipment
      parameters:
        - $ref: '#/components/parameters/AccountNumberFilter'
        - $ref: '#/components/parameters/ClientIdFilter'
        - $ref: '#/components/parameters/VisitIdFilter'
        - $ref: '#/components/parameters/TechnicianIdFilter'
        - $ref: '#/components/parameters/TaskIdFilter'
        - name: removalReasonCode
          in: query
          description: Filtrar por código de motivo de retiro.
          schema:
            $ref: '#/components/schemas/RemovalReasonCode'
        - name: serialValue
          in: query
          description: Buscar por número de serie del equipo.
          schema:
            type: string
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PagedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/RetiredEquipment'
    post:
      tags: [Equipos Retirados]
      summary: Registrar un equipo retirado o reemplazado
      description: >
        La foto del código de barras se sube previamente con POST /media y
        aquí se referencia por barcodePhotoId. El número de serie llega ya
        decodificado por la app (campo a leer definido según el modelo).
      operationId: createRetiredEquipment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetiredEquipmentInput'
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetiredEquipment'
        '400':
          $ref: '#/components/responses/BadRequest'

  /retired-equipment/{id}:
    get:
      tags: [Equipos Retirados]
      summary: Obtener un equipo retirado
      operationId: getRetiredEquipment
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetiredEquipment'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # MEDIA
  # ====================================================================

  /media:
    post:
      tags: [Media]
      summary: Subir un archivo
      description: >
        Sube una imagen (por ejemplo la foto del código de barras) y
        devuelve un identificador y una URL para referenciarla luego.
      operationId: uploadMedia
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Archivo a subir (JPEG o PNG).
      responses:
        '201':
          description: Creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaFile'
        '400':
          $ref: '#/components/responses/BadRequest'

  /media/{id}:
    get:
      tags: [Media]
      summary: Obtener metadatos de un archivo
      operationId: getMedia
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaFile'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # HISTORIAL DE LA CUENTA
  # ====================================================================

  /accounts/{accountNumber}/tool-history:
    get:
      tags: [Historial de la Cuenta]
      summary: Historial agregado de una cuenta
      description: >
        Devuelve, en una sola respuesta, los registros de este módulo
        asociados a un número de cuenta: mediciones de distancia, tests de
        velocidad, mapas de calor, pings, traceroutes y equipos retirados.


        **DEPRECADO (2026-09-30)** para la UI del "historial de la app": lo
        reemplaza `GET /accounts/{accountNumber}/visits?include=records`, que
        muestra esos mismos registros dentro de cada visita. Sigue funcionando
        sin cambios para el APK ya instalado.
      operationId: getAccountToolHistory
      parameters:
        - name: accountNumber
          in: path
          required: true
          description: Número de cuenta del cliente.
          schema:
            type: string
        - $ref: '#/components/parameters/DateFrom'
        - $ref: '#/components/parameters/DateTo'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountToolHistory'

  # ====================================================================
  # DATOS DEL CLIENTE (campos 1-5, 7)
  # ====================================================================

  /accounts/{accountNumber}/client-profile:
    parameters:
      - $ref: '#/components/parameters/AccountNumberPath'
    get:
      tags: [Datos del Cliente]
      summary: Perfil del cliente
      description: >
        Nombres, dirección, teléfonos, plan y velocidad contratada
        (campos 1, 2, 3, 5). **Respuesta compuesta** (ADR-07): la identidad sale
        de FSM `POST /account/process` (1 llamada upstream) y el plan/velocidad
        siguen viniendo del mock de Comarch, porque `fsm-data-ms` no los expone.
        El bloque `sources` dice, campo por campo, de dónde salió cada dato.
        Lo editado con el PUT manda sobre FSM y se marca como `MOCK`.


        **Con `CONNECTOR_MODE_FSM=real` la identidad nunca se inventa**
        (2026-09-26): lo que FSM no trae va `null` con `sources.<campo>: NONE`.
        El nombre tiene respaldo en la whitelist de clientes Xtrim
        (`sources.fullName: WHITELIST`). Si FSM no trajo identidad alguna, la
        respuesta es 200 con `degraded.reason: FSM_NO_DATA` (también en el
        header `X-Wifix-Degraded`) y mensaje `Sin datos en FSM para esta
        cuenta.` o `Sin datos en FSM para esta cuenta; nombre tomado de la base
        de clientes Xtrim.`. Plan y velocidad siguen `MOCK`. En `mock` y
        `fixture` no cambia nada (404 si la cuenta no tiene órdenes).
      operationId: getClientProfile
      parameters:
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientProfile'
              examples:
                fsmNoDataWhitelist:
                  summary: FSM real sin órdenes, nombre desde la whitelist
                  value:
                    accountNumber: '105450235'
                    fullName: NOMBRE DEL CLIENTE
                    address: null
                    phones: null
                    planName: Plan Hogar 300
                    contractedDownloadMbps: 300
                    contractedUploadMbps: 300
                    email: null
                    latitude: null
                    longitude: null
                    sources:
                      fullName: WHITELIST
                      address: NONE
                      phones: NONE
                      email: NONE
                      latitude: NONE
                      longitude: NONE
                      planName: MOCK
                      contractedDownloadMbps: MOCK
                      contractedUploadMbps: MOCK
                    degraded:
                      reason: FSM_NO_DATA
                      message: Sin datos en FSM para esta cuenta; nombre tomado de la base de clientes Xtrim.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: >-
            Solo en `mock`/`fixture`: la cuenta no existe en FSM
            (`/account/process` devolvió una lista de órdenes vacía). Con FSM
            `real` nunca es 404 (ver `FSM_NO_DATA`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'
    put:
      tags: [Datos del Cliente]
      summary: Actualizar datos del cliente
      description: >
        Módulo de actualización de datos (campo 4). **No cambia con la
        integración FSM**: `fsm-data-ms` es de solo lectura, así que la edición
        se guarda en Comarch y el cambio NO viaja a la operadora. Devuelve el
        mismo shape que el GET, con `sources` en `MOCK` para lo editado. Con
        FSM `real`, lo no editado se compone como en el GET (FSM → whitelist
        para el nombre → `null`/`NONE`), nunca con el mock; si FSM falla, lo no
        editado va `null` y el guardado no falla.
      operationId: updateClientProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientProfileUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountNumber}/contract-status:
    get:
      tags: [Datos del Cliente]
      summary: Status del cliente por contrato/cuenta
      description: >
        Nombre del cliente y status de la cuenta (campo 7). Origen: FSM
        `POST /account/status` (código A/S/T/O/P) + `POST /account/process`
        (nombre y última orden). **2 llamadas upstream**, ambas cacheadas
        (status 5 min, process 60 s).


        FSM no devuelve "otras cuentas del mismo contrato": `accounts` trae
        exactamente un elemento hasta que exista ese endpoint.
      operationId: getContractStatus
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'

  # ====================================================================
  # DIAGNÓSTICO DE RED (campos 6, 8-14, 19-21)
  # ====================================================================

  /naps/nearby:
    get:
      tags: [Diagnóstico de Red]
      summary: NAPs cercanas a una coordenada
      description: >
        NAPs cercanas con coordenada, distancia en metros y puertos
        ocupados/libres (campo 6). La consulta es por coordenada (GPS del
        técnico o de la tarea), no por número de cuenta, igual que la
        pestaña "GPON" de FSM. **1 llamada upstream.**


        La fuente la decide `NAPS_PRIMARY_SOURCE` (ADR-04): FSM
        `GET /naps/nearest` o TEC `GET /api/tec/naps/{lat},{lng}` (Digest).
        Con FSM primario, si el token de la operadora falla se cae a TEC y se
        responde 200 con `source:"TEC"` y el aviso en el header
        `X-Wifix-Degraded`. Cualquier otro fallo de FSM se propaga como 502.


        ⚠ La respuesta es un **array desnudo**: por eso el bloque `degraded`
        viaja en el header `X-Wifix-Degraded` (JSON URL-encoded) y no en el
        cuerpo.
      operationId: getNearbyNaps
      parameters:
        - name: lat
          in: query
          required: true
          description: Latitud desde la que se busca.
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: lng
          in: query
          required: true
          description: Longitud desde la que se busca.
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - name: meters
          in: query
          required: false
          description: Radio de búsqueda en metros. Se ignora si la fuente efectiva es TEC.
          schema:
            type: integer
            minimum: 1
            maximum: 2000
            default: 100
        - name: maxRows
          in: query
          required: false
          description: >
            Cantidad máxima de NAPs. Se ignora si la fuente efectiva es TEC.
            La operadora pidió (2026-09-09) pedir solo la NAP más cercana a las
            coordenadas del cliente: el default es conservador (3). El tope de
            25 se mantiene para quien pida más filas a propósito.
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 3
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: OK. Lista ordenada por distancia ascendente (vacía si no hay NAPs en el sector).
          headers:
            X-Wifix-Degraded:
              description: >
                Presente solo si la respuesta se sirvió con una fuente
                alternativa o incompleta. Contiene el JSON del bloque
                `Degraded` URL-encoded. El cliente nunca debe asumir que existe.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NearbyNap'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'

  /naps/{napRef}/ports:
    get:
      tags: [Diagnóstico de Red]
      summary: Puertos ocupados por NAP (campo 8, paso 1)
      description: >
        Rejilla de puertos de la NAP con la cuenta y el equipo GPON de cada
        puerto ocupado (campo 8). **1 sola llamada upstream**
        (`GET /naps/accounts`): los estados A/S/T/O/P NO se consultan acá.
        Cada puerto ocupado viene con `clientStatus: null` y
        `statusPending: true`; el técnico los resuelve después, de forma
        explícita, con `POST /accounts/status-batch` (ADR-05).


        **Ruteo del path param**: si `napRef` es numérico (`/^\d+$/`) se toma
        como `napId` de FSM; cualquier otro valor se toma como código de NAP y
        va por el camino TEC heredado, que sigue devolviendo
        `detailAvailable:false`. El frontend envía `nap.napId ?? nap.napCode`.
      operationId: getNapPorts
      parameters:
        - name: napRef
          in: path
          required: true
          description: >
            Id numérico de la NAP en FSM, o código de NAP (camino TEC).
          schema:
            type: string
            example: '11547'
        - name: withStatus
          in: query
          required: false
          description: >
            Resuelve además hasta `batchLimit` estados en la misma llamada.
            Existe SOLO para `probe-fsm-api.ts` y soporte: **la webapp tiene
            prohibido enviarlo**, porque dispara hasta 12 consultas extra a
            producción por cada tap.
          schema:
            type: string
            enum: ['0', '1']
            default: '0'
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NapPorts'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'

  /accounts/{accountNumber}/current-nap:
    get:
      tags: [Diagnóstico de Red]
      summary: NAP y puerto en los que está conectada la cuenta
      description: >
        Identifica la NAP, el puerto y el equipo GPON de la cuenta por
        **búsqueda inversa**: FSM no expone el dato directo.


        Algoritmo:

        1. Coordenada: `lat`/`lng` de override si vienen; si no, la del cliente
           en FSM `/account/process` (mismo camino y cache que client-profile).
           Sin coordenada → `found:false, reason:NO_COORDS`.

        2. FSM `/naps/nearest` con `meters=150`, `maxRows=3`.

        3. FSM `/naps/accounts?id=` de cada NAP, **secuencial y por cercanía**,
           cortando en cuanto aparece la cuenta (comparación normalizada como
           string). Si no aparece en ninguna → `reason:NOT_FOUND`.

        4. Si se encontró: estado de la cuenta por el mismo camino que
           `POST /accounts/status-batch` (`/account/status`, cache 5 min). Si
           ESA consulta falla, igual se responde `found:true` con
           `clientStatus:null` y un bloque `degraded` (`FSM_UNAVAILABLE`).


        **Presupuesto upstream: [1 process] + 1 nearest + ≤3 accounts + [1
        status]** (máximo 6; 4 con override de coordenada y hallazgo en la
        primera NAP). El resultado completo se cachea **10 minutos** por marca
        y cuenta (y por coordenada redondeada si vino override); las respuestas
        con `degraded` no se cachean.


        Con `NAPS_PRIMARY_SOURCE=tec` responde `found:false,
        reason:NOT_SUPPORTED` sin ninguna llamada: TEC no expone las cuentas de
        una NAP. Un fallo de token de FSM es **503 `UPSTREAM_AUTH_ERROR`**
        (nunca 401) y no cae a TEC; un 5xx/timeout de FSM al leer la
        coordenada es 503 `UPSTREAM_UNAVAILABLE`, y en `/naps/*` 502
        `CONNECTOR_ERROR`, igual que las rutas vecinas.


        En `CONNECTOR_MODE_FSM=mock` las cuentas `35070291` (2ª NAP más
        cercana) y `40123456` (la más cercana) se encuentran; cualquier otra
        sale `NOT_FOUND`. En `fixture`, `35070291` sale `NOT_FOUND` (no está en
        la NAP grabada).


        **NAP asignada siempre (default, `fallback=simulated`).** En Visita
        técnica y Migraciones el cliente YA tiene una NAP contratada: el
        técnico no busca NAPs. Si la búsqueda real no la identifica
        (`NOT_FOUND`, `NO_COORDS`, `NOT_SUPPORTED`) o FSM falla (token →
        `UPSTREAM_AUTH_ERROR`, 5xx/timeout → `UPSTREAM_UNAVAILABLE`), responde
        **200** con una NAP asignada **simulada**, determinística por cuenta
        (misma cuenta → mismo código, puertos y puerto), con `found:true`,
        `simulated:true`, `source:SIMULATED`, `nap.source:SIMULATED`,
        `nap.napId:null`, `equipmentId:null` y `simulationReason`. La NAP queda
        a 15-120 m del domicilio (o del override) si se conoce; si no,
        alrededor del clúster de los mocks. Cero llamadas extra: la búsqueda
        real, su presupuesto y su cache no cambian. Si la causa fue un fallo de
        FSM viene además `degraded` (`FSM_AUTH` / `FSM_UNAVAILABLE`).
        **No pedir `/naps/{napRef}/ports` de una NAP simulada.**


        `fallback=none` devuelve el comportamiento estricto anterior
        (`found:false` con `reason`, o 503).
      operationId: getCurrentNap
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
        - name: lat
          in: query
          required: false
          description: >
            Override de la latitud (p. ej. GPS del técnico). Va junto con
            `lng`: enviar solo uno de los dos es 400.
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
        - name: lng
          in: query
          required: false
          description: Override de la longitud. Va junto con `lat`.
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
        - name: fallback
          in: query
          required: false
          description: >
            `simulated` (default): si no se identifica la NAP real, la asignada
            simulada. `none`: estricto (`found:false` / 503), como antes.
          schema:
            type: string
            enum: [simulated, none]
            default: simulated
        - $ref: '#/components/parameters/BrandHeader'
        - $ref: '#/components/parameters/BrandQuery'
      responses:
        '200':
          description: >
            OK. `found:false` NO es un error: `reason` dice por qué.
          headers:
            X-Wifix-Degraded:
              description: >
                Presente solo si la respuesta trae `degraded` (mismo JSON,
                URL-encoded).
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentNap'
              examples:
                found:
                  summary: Encontrada (mock, cuenta 35070291)
                  value:
                    accountNumber: '35070291'
                    found: true
                    nap:
                      napId: 11197
                      napCode: PL53KD8
                      networkName: OLT-GYE-06/1/2
                      latitude: -2.243528
                      longitude: -79.906654
                      distanceMeters: 98.1
                      occupiedPorts: 15
                      totalPorts: 16
                      freePorts: 1
                      source: FSM
                    portNumber: 7
                    equipmentId: ZTEGD434832
                    clientStatus:
                      code: A
                      name: ACTIVA
                      description: Activo
                    searchedNaps: 2
                    brand: telenews
                    source: FSM
                    simulated: false
                    assignment: CONTRACTED
                simulated:
                  summary: NAP asignada simulada (no se identificó la real)
                  value:
                    accountNumber: '12345678'
                    found: true
                    nap:
                      napId: null
                      napCode: PL26KD2
                      networkName: OLT-GYE-01/1/4
                      latitude: -2.256763
                      longitude: -79.895559
                      distanceMeters: 35.6
                      occupiedPorts: 13
                      totalPorts: 16
                      freePorts: 3
                      source: SIMULATED
                    portNumber: 9
                    equipmentId: null
                    clientStatus:
                      code: A
                      name: ACTIVA
                      description: Activo (simulado)
                    searchedNaps: 0
                    brand: telenews
                    source: SIMULATED
                    simulated: true
                    assignment: CONTRACTED
                    simulationReason: NOT_FOUND
                notFound:
                  summary: No encontrada en las NAPs cercanas (solo con fallback=none)
                  value:
                    accountNumber: '12345678'
                    found: false
                    nap: null
                    portNumber: null
                    equipmentId: null
                    clientStatus: null
                    searchedNaps: 3
                    reason: NOT_FOUND
                    brand: telenews
                    source: null
                    simulated: false
                    assignment: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '502':
          $ref: '#/components/responses/ConnectorError'
        '503':
          $ref: '#/components/responses/UpstreamAuthUnavailable'

  /accounts/{accountNumber}/client-location:
    post:
      tags: [Datos del Cliente]
      summary: Guarda la ubicación "Casa cliente" capturada por el técnico
      description: >
        El técnico captura su GPS (o marca el punto a mano) en el domicilio del
        cliente y queda **guardado** como "Casa cliente", vinculado a la NAP
        del cliente, para que un gerente lo compare con la ubicación que la
        operadora tiene registrada y ubique la casa exacta.


        **Append-only**: cada captura es una fila nueva; nunca se sobrescribe
        (no hay PUT/PATCH/DELETE). Se guarda el usuario (JWT) que capturó.


        Al guardar se toma una **foto**:

        - `registeredLocation`: coordenada del cliente en FSM
          `/account/process` (la del cliente o, si no viene, la de la orden más
          reciente que la tenga; cache 60 s compartido con client-profile).
          `source:FSM` (o `MOCK` con `CONNECTOR_MODE_FSM=mock`). TEC **no**
          expone el domicilio y la whitelist no guarda coordenadas (LOPDP): si
          FSM no la trae o no responde, `null`.

        - NAP: `napCode`/`napPort` enviados o, si no vienen, los de
          `GET /accounts/{accountNumber}/current-nap` (real o asignada
          simulada; cache 10 min). `napLocation` y `distanceToNapMeters` solo
          si el código coincide con el de current-nap; `napLocation.simulated`
          dice si esa NAP era la simulada.

        - Distancias con Haversine, en metros (0,1 m).


        Un fallo de FSM **nunca** impide guardar. La cuenta se guarda
        normalizada (`035070291` → `35070291`). Las coordenadas no se escriben
        en los logs.
      operationId: createClientLocation
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
        - $ref: '#/components/parameters/BrandHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientLocationInput'
            examples:
              gps:
                summary: GPS del técnico durante la visita
                value:
                  latitude: -2.24801
                  longitude: -79.90422
                  accuracyMeters: 6.5
                  source: GPS
                  taskId: ORDER/424900/2026
                  notes: Portón verde, junto a la tienda.
              manual:
                summary: Punto marcado a mano, con NAP y puerto explícitos
                value:
                  latitude: -2.24795
                  longitude: -79.90418
                  label: CASA_CLIENTE
                  source: MANUAL
                  napCode: PL53KD8
                  napPort: 7
                  capturedAt: '2026-09-30T15:40:00.000Z'
      responses:
        '201':
          description: Captura guardada.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientLocation'
              examples:
                created:
                  value:
                    id: 6d1f0b2e-8c3a-4d7e-9b1a-2f4c5e6a7b80
                    accountNumber: '35070291'
                    label: CASA_CLIENTE
                    latitude: -2.24801
                    longitude: -79.90422
                    accuracyMeters: 6.5
                    source: GPS
                    napCode: PL53KD8
                    napPort: 7
                    taskId: ORDER/424900/2026
                    capturedAt: '2026-09-30T15:42:10.000Z'
                    createdAt: '2026-09-30T15:42:11.204Z'
                    capturedBy:
                      id: 0b7e7a3c-1f2d-4c5b-8e9a-3d2c1b0a9f87
                      email: tecnico@wifix.test
                    registeredLocation:
                      latitude: -2.2446170
                      longitude: -79.9051330
                      source: FSM
                    distanceToRegisteredMeters: 385.4
                    distanceToNapMeters: 507.9
                    napLocation:
                      latitude: -2.243528
                      longitude: -79.906654
                      simulated: false
                    notes: Portón verde, junto a la tienda.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags: [Datos del Cliente]
      summary: Capturas "Casa cliente" de la cuenta y su ubicación registrada
      description: >
        Últimas capturas de la cuenta (más reciente primero, máximo 50),
        `latest` (= `items[0]` o `null`) y la ubicación registrada del cliente
        en FSM consultada en vivo (cache 60 s); si FSM no responde, la foto de
        la última captura. Cada ítem trae su propia foto de registrada/NAP.
      operationId: getClientLocations
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
        - $ref: '#/components/parameters/BrandHeader'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountClientLocations'
              examples:
                withCaptures:
                  value:
                    latest:
                      id: 6d1f0b2e-8c3a-4d7e-9b1a-2f4c5e6a7b80
                      accountNumber: '35070291'
                      label: CASA_CLIENTE
                      latitude: -2.24801
                      longitude: -79.90422
                      accuracyMeters: 6.5
                      source: GPS
                      napCode: PL53KD8
                      napPort: 7
                      taskId: ORDER/424900/2026
                      capturedAt: '2026-09-30T15:42:10.000Z'
                      createdAt: '2026-09-30T15:42:11.204Z'
                      capturedBy:
                        id: 0b7e7a3c-1f2d-4c5b-8e9a-3d2c1b0a9f87
                        email: tecnico@wifix.test
                      registeredLocation:
                        latitude: -2.2446170
                        longitude: -79.9051330
                        source: FSM
                      distanceToRegisteredMeters: 385.4
                      distanceToNapMeters: 507.9
                      napLocation:
                        latitude: -2.243528
                        longitude: -79.906654
                        simulated: false
                      notes: Portón verde, junto a la tienda.
                    items:
                      - id: 6d1f0b2e-8c3a-4d7e-9b1a-2f4c5e6a7b80
                        accountNumber: '35070291'
                        label: CASA_CLIENTE
                        latitude: -2.24801
                        longitude: -79.90422
                        accuracyMeters: 6.5
                        source: GPS
                        napCode: PL53KD8
                        napPort: 7
                        taskId: ORDER/424900/2026
                        capturedAt: '2026-09-30T15:42:10.000Z'
                        createdAt: '2026-09-30T15:42:11.204Z'
                        capturedBy: { id: 0b7e7a3c-1f2d-4c5b-8e9a-3d2c1b0a9f87, email: tecnico@wifix.test }
                        registeredLocation: { latitude: -2.244617, longitude: -79.905133, source: FSM }
                        distanceToRegisteredMeters: 385.4
                        distanceToNapMeters: 507.9
                        napLocation: { latitude: -2.243528, longitude: -79.906654, simulated: false }
                        notes: Portón verde, junto a la tienda.
                    registeredLocation:
                      latitude: -2.244617
                      longitude: -79.905133
                      source: FSM
                empty:
                  summary: Sin capturas
                  value:
                    latest: null
                    items: []
                    registeredLocation: null
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /client-locations:
    get:
      tags: [Datos del Cliente]
      summary: Capturas "Casa cliente" de todas las cuentas (vista de gerente)
      description: >
        Lista paginada de capturas, más reciente primero, con los mismos
        objetos que `/accounts/{accountNumber}/client-location`. Solo lee la
        base propia: cero llamadas a sistemas externos. Hoy requiere solo JWT
        (no hay roles todavía).
      operationId: listClientLocations
      parameters:
        - name: accountNumber
          in: query
          required: false
          description: Filtra por cuenta (se normaliza; `035070291` = `35070291`).
          schema: { type: string }
        - name: from
          in: query
          required: false
          description: '`capturedAt` >= from (ISO 8601).'
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: false
          description: '`capturedAt` <= to (ISO 8601). `from > to` es 400.'
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - name: page
          in: query
          required: false
          schema: { type: integer, minimum: 1, default: 1 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientLocationPage'
              examples:
                page:
                  value:
                    items:
                      - id: 6d1f0b2e-8c3a-4d7e-9b1a-2f4c5e6a7b80
                        accountNumber: '35070291'
                        label: CASA_CLIENTE
                        latitude: -2.24801
                        longitude: -79.90422
                        accuracyMeters: 6.5
                        source: GPS
                        napCode: PL53KD8
                        napPort: 7
                        taskId: ORDER/424900/2026
                        capturedAt: '2026-09-30T15:42:10.000Z'
                        createdAt: '2026-09-30T15:42:11.204Z'
                        capturedBy: { id: 0b7e7a3c-1f2d-4c5b-8e9a-3d2c1b0a9f87, email: tecnico@wifix.test }
                        registeredLocation: { latitude: -2.244617, longitude: -79.905133, source: FSM }
                        distanceToRegisteredMeters: 385.4
                        distanceToNapMeters: 507.9
                        napLocation: { latitude: -2.243528, longitude: -79.906654, simulated: false }
                        notes: null
                    page: { page: 1, pageSize: 50, totalItems: 1, totalPages: 1 }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ====================================================================
  # VALIDACIÓN DE EQUIPO VS PLAN CONTRATADO (2026-10-01)
  # ====================================================================

  /device-catalog:
    get:
      tags: [Validación de Equipo]
      summary: Catálogo de equipos homologados
      description: >
        Equipos activos del catálogo (los 'Moderno' de la planilla
        "Velocidades por modelos de equipos GPON"; los 'Obsoleto' no entran).
        Un modelo fuera de esta lista no está homologado y se bloquea.
        `serialPrefixes` es una **pista** de marca para filtrar la lista tras
        escanear el serial: un prefijo no identifica el modelo exacto.
      operationId: getDeviceCatalog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCatalog'
              examples:
                catalog:
                  value:
                    items:
                      - model: ZXHN F660
                        displayName: ZXHN F660
                        brand: ZTE
                        deviceType: ONT
                        category: ONT / ONU (GPON)
                        wifiTech: WIFI 4
                        ethernetMaxMbps: 1000
                        wifiMaxMbps: 300
                        wifiStatus: disabled
                        serialPrefixes: [ZTEG]
                      - model: ONT ZTE XGS-PON ZXHN F8605P
                        displayName: ONT XGS-PON ZXHN F8605P
                        brand: ZTE
                        deviceType: ONT
                        category: ONT / ONU (XGS-PON)
                        wifiTech: WIFI 6
                        ethernetMaxMbps: 2500
                        wifiMaxMbps: 1800
                        wifiStatus: enabled
                        serialPrefixes: [ZTEG]
                      - model: ONU300G-1G
                        displayName: ONU300G-1G
                        brand: Blik Telecom
                        deviceType: ONT
                        category: ONT / ONU (GPON)
                        wifiTech: SIN WIFI
                        ethernetMaxMbps: 1000
                        wifiMaxMbps: null
                        wifiStatus: none
                        serialPrefixes: [STGU]
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/device-validations:
    post:
      tags: [Validación de Equipo]
      summary: Valida el equipo a instalar contra el plan contratado
      description: >
        El servidor es la fuente de verdad (la app replica la misma regla para
        feedback inmediato). `planMbps` **no** se recibe del cliente: es la
        velocidad de bajada contratada, de la misma fuente que
        `contractedDownloadMbps` de `client-profile` (hoy simulada →
        `planSource: simulated`).


        Regla, en este orden:

        1. Modelo fuera del catálogo homologado (incluye obsoletos) →
           `blocked`, razón `not_in_catalog` (aunque no haya plan).

        2. Sin plan contratado → `unknown_plan` (no bloquea; queda como alerta
           "sin plan").

        3. `ethernetMaxMbps < planMbps` → `blocked`, razón `ethernet`.

        4. `wifiStatus = enabled` y `wifiMaxMbps < planMbps` → `blocked`, razón
           `wifi`. Con `none`/`disabled` solo cuenta Ethernet.

        Igualar el plan es suficiente. Si fallan Ethernet y WiFi vienen las dos
        razones. Sin override.


        **Append-only**: se guardan TODOS los intentos (ok, bloqueados, sin
        plan) con el técnico del JWT; un `blocked` es una alerta para el
        gerente. El modelo se busca sin distinguir mayúsculas/espacios, por
        `model` o `displayName`. `device` y `reasons` son una **foto** al
        validar. `taskId` es opcional como en los demás registros por visita:
        si no viene, `/accounts/{accountNumber}/visits?include=records` lo
        asocia por ventana de tiempo. La cuenta se guarda normalizada. No
        responde 404 por cuenta desconocida (mismo criterio que
        `client-location`: la cuenta ya se validó en "Confirmar cuenta").
      operationId: createDeviceValidation
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceValidationInput'
            examples:
              barcode:
                value:
                  serial: ZTEGD4B47E30
                  model: ZXHN F670L
                  category: instalaciones
                  taskId: TASK/294328/2026
                  serialSource: barcode
      responses:
        '201':
          description: Validación guardada (también si quedó bloqueada).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceValidation'
              examples:
                blockedWifi:
                  summary: Plan 1000 con ZXHN F670L (WiFi 500)
                  value:
                    id: 39c93eff-5814-4efb-ab6b-b1ffb92023e8
                    accountNumber: '93000007'
                    category: instalaciones
                    taskId: TASK/294328/2026
                    serial: ZTEGD4B47E30
                    serialSource: barcode
                    model: ZXHN F670L
                    result: blocked
                    planMbps: 1000
                    planSource: simulated
                    device:
                      model: ZXHN F670L
                      displayName: ZXHN F670L
                      brand: ZTE
                      deviceType: ONT
                      category: ONT / ONU (GPON)
                      wifiTech: WIFI 5
                      ethernetMaxMbps: 1000
                      wifiMaxMbps: 500
                      wifiStatus: enabled
                      serialPrefixes: [ZTEG]
                    reasons:
                      - { kind: wifi, deviceMbps: 500, planMbps: 1000 }
                    message: >-
                      Advertencia: el dispositivo que usted está instalando no es el
                      correcto, ya que no permite la máxima capacidad del plan
                      contratado (1000 Mbps) y, por lo tanto, no le va a dar un buen
                      servicio al cliente. Velocidad máxima del equipo por WiFi: 500 Mbps.
                    createdAt: '2026-10-01T21:16:00.754Z'
                    technician: { id: f8a7d12b-7653-4c94-8c24-803827f9f09c, email: tecnico@wifix.test, name: Técnico Demo }
                blockedPowerline:
                  summary: Plan 1000 con powerline (Ethernet 100, WiFi 300)
                  value:
                    id: 5238e84e-1f71-4c7b-8758-a839e0997f85
                    accountNumber: '93000007'
                    category: visitas
                    taskId: null
                    serial: '2234567890'
                    serialSource: manual
                    model: POWER LINE TP-LINK TLWPA4220 STARTER KIT
                    result: blocked
                    planMbps: 1000
                    planSource: simulated
                    device:
                      model: POWER LINE TP-LINK TLWPA4220 STARTER KIT
                      displayName: POWER LINE TP-LINK TLWPA4220 STARTER KIT
                      brand: TP-LINK
                      deviceType: REPETIDOR POWERLINE
                      category: Accesorio (Power Line)
                      wifiTech: WIFI 4
                      ethernetMaxMbps: 100
                      wifiMaxMbps: 300
                      wifiStatus: enabled
                      serialPrefixes: []
                    reasons:
                      - { kind: ethernet, deviceMbps: 100, planMbps: 1000 }
                      - { kind: wifi, deviceMbps: 300, planMbps: 1000 }
                    message: >-
                      Advertencia: el dispositivo que usted está instalando no es el
                      correcto, ya que no permite la máxima capacidad del plan
                      contratado (1000 Mbps) y, por lo tanto, no le va a dar un buen
                      servicio al cliente. Velocidad máxima del equipo: Ethernet 100
                      Mbps y WiFi 300 Mbps.
                    createdAt: '2026-10-01T21:16:01.266Z'
                    technician: { id: f8a7d12b-7653-4c94-8c24-803827f9f09c, email: tecnico@wifix.test, name: Técnico Demo }
                notInCatalog:
                  summary: Modelo obsoleto / no homologado
                  value:
                    id: c1e2bfcf-6c07-4a30-a2af-1db494cfe7a3
                    accountNumber: '93000007'
                    category: instalaciones
                    taskId: null
                    serial: ABC123
                    serialSource: null
                    model: ROUTER TP-LINK (2 ANT)
                    result: blocked
                    planMbps: 1000
                    planSource: simulated
                    device: null
                    reasons:
                      - { kind: not_in_catalog, planMbps: 1000 }
                    message: >-
                      Advertencia: el dispositivo que usted está instalando no es el
                      correcto: el modelo «ROUTER TP-LINK (2 ANT)» no está en el
                      catálogo de equipos homologados, por lo que no se garantiza la
                      máxima capacidad del plan contratado (1000 Mbps).
                    createdAt: '2026-10-01T21:16:01.514Z'
                    technician: { id: f8a7d12b-7653-4c94-8c24-803827f9f09c, email: tecnico@wifix.test, name: Técnico Demo }
                ok:
                  summary: Plan 1000 con ONT ZTE ZXHN F6600
                  value:
                    id: fb1b45c8-30db-46e3-8228-815ea4485401
                    accountNumber: '93000007'
                    category: migraciones
                    taskId: null
                    serial: ZTEGAB12CD34
                    serialSource: ocr
                    model: ONT ZTE ZXHN F6600 WIFI 6
                    result: ok
                    planMbps: 1000
                    planSource: simulated
                    device:
                      model: ONT ZTE ZXHN F6600 WIFI 6
                      displayName: ONT ZTE ZXHN F6600 WIFI 6
                      brand: ZTE
                      deviceType: ONT
                      category: ONT / ONU (GPON)
                      wifiTech: WIFI 6
                      ethernetMaxMbps: 1000
                      wifiMaxMbps: 1000
                      wifiStatus: enabled
                      serialPrefixes: [ZTEG]
                    reasons: []
                    message: 'Equipo correcto: soporta la máxima capacidad del plan contratado (1000 Mbps).'
                    createdAt: '2026-10-01T21:16:01.018Z'
                    technician: { id: f8a7d12b-7653-4c94-8c24-803827f9f09c, email: tecnico@wifix.test, name: Técnico Demo }
                unknownPlan:
                  summary: La fuente del plan no respondió
                  value:
                    id: 0a4c2f5e-3b6d-4e8f-9a1b-2c3d4e5f6a7b
                    accountNumber: '93000007'
                    category: visitas
                    taskId: null
                    serial: ZTEG00000002
                    serialSource: barcode
                    model: ZXHN F670L
                    result: unknown_plan
                    planMbps: null
                    planSource: real
                    device:
                      model: ZXHN F670L
                      displayName: ZXHN F670L
                      brand: ZTE
                      deviceType: ONT
                      category: ONT / ONU (GPON)
                      wifiTech: WIFI 5
                      ethernetMaxMbps: 1000
                      wifiMaxMbps: 500
                      wifiStatus: enabled
                      serialPrefixes: [ZTEG]
                    reasons: []
                    message: >-
                      No se pudo obtener el plan contratado del cliente: no se validó
                      la capacidad del equipo. Se registró una alerta para el gerente.
                    createdAt: '2026-10-01T21:20:00.000Z'
                    technician: { id: f8a7d12b-7653-4c94-8c24-803827f9f09c, email: tecnico@wifix.test, name: Técnico Demo }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags: [Validación de Equipo]
      summary: Historial de validaciones de equipo de la cuenta
      description: Más reciente primero, máximo 50. Acepta la cuenta con o sin ceros a la izquierda.
      operationId: getAccountDeviceValidations
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDeviceValidations'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /device-validations:
    get:
      tags: [Validación de Equipo]
      summary: Validaciones de equipo de todas las cuentas (alertas para gerente)
      description: >
        Lista paginada, más reciente primero, con los mismos objetos que
        `/accounts/{accountNumber}/device-validations` (incluye `accountNumber`
        y `technician`). `result=blocked` = alertas. Solo lee la base propia.
        Hoy requiere solo JWT (no hay roles todavía); sin UI por ahora.
      operationId: listDeviceValidations
      parameters:
        - name: result
          in: query
          required: false
          schema: { type: string, enum: [ok, blocked, unknown_plan] }
        - name: accountNumber
          in: query
          required: false
          description: Filtra por cuenta (se normaliza; `035070291` = `35070291`).
          schema: { type: string }
        - name: category
          in: query
          required: false
          schema: { type: string, enum: [instalaciones, migraciones, visitas] }
        - name: from
          in: query
          required: false
          description: '`createdAt` >= from (ISO 8601).'
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: false
          description: '`createdAt` <= to (ISO 8601). `from > to` es 400.'
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - name: page
          in: query
          required: false
          schema: { type: integer, minimum: 1, default: 1 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceValidationPage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/whitelist:
    get:
      tags: [Datos del Cliente]
      summary: ¿La cuenta está en la whitelist de clientes reales?
      description: >
        Valida la cuenta en "Confirmar cuenta" contra la lista de clientes de la
        operadora, importada por completo con `prisma/import-whitelist.ts` (ver
        DEPLOY.md §10). Solo lee la base propia: cero llamadas a sistemas
        externos.


        El número de cuenta se normaliza (recorte de espacios; si es numérico,
        sin ceros a la izquierda: `035070291` → `35070291`) y la respuesta trae
        el valor normalizado.


        Orden de resolución:

        1. Cuenta en `WHITELIST_EXTRA_ACCOUNTS` (demo) → `listed:true`,
           `source:EXTRA`, `status:ACTIVO`, resto de campos `null`.

        2. Cuenta en la lista importada → `listed:true`, `source:IMPORT`.

        3. Lista importada alguna vez pero sin la cuenta → `listed:false`.

        4. Nunca se importó nada → `listed:null`, `reason:WHITELIST_EMPTY` y
           `enforce:false` sin importar la configuración.


        `enforce` refleja `WHITELIST_ENFORCE`: `true` → la app debe bloquear
        las cuentas `listed:false`; `false` → solo avisar. La cédula/RUC se
        guarda en la base pero **nunca** se devuelve.
      operationId: getAccountWhitelist
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK. `listed:false` / `listed:null` NO son errores.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhitelistCheck'
              examples:
                listed:
                  summary: Listada (lista importada)
                  value:
                    accountNumber: '35070291'
                    listed: true
                    source: IMPORT
                    status: ACTIVO
                    city: GUAYAQUIL
                    node: AR7S
                    businessType: Combo Tv - Int
                    accountType: Residencial
                    accessType: Sin Registro
                    importedAt: '2026-09-26T21:15:56.833Z'
                    enforce: false
                extra:
                  summary: Cuenta demo (WHITELIST_EXTRA_ACCOUNTS)
                  value:
                    accountNumber: '40123456'
                    listed: true
                    source: EXTRA
                    status: ACTIVO
                    city: null
                    node: null
                    businessType: null
                    accountType: null
                    accessType: null
                    importedAt: '2026-09-26T21:15:56.833Z'
                    enforce: false
                notListed:
                  summary: No listada
                  value:
                    accountNumber: '12345678'
                    listed: false
                    importedAt: '2026-09-26T21:15:56.833Z'
                    enforce: true
                empty:
                  summary: Sin lista importada
                  value:
                    accountNumber: '12345678'
                    listed: null
                    reason: WHITELIST_EMPTY
                    importedAt: null
                    enforce: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/lookup:
    get:
      tags: [Datos del Cliente]
      summary: Buscar cuentas por cédula/RUC (o por nº de orden FSM, aún no disponible)
      description: >
        Ingreso alternativo al número de cuenta. Envía **exactamente uno** de
        `document` u `order`.


        **`document`** (cédula/RUC/pasaporte): se normaliza con la misma lógica
        que el import de la whitelist (`normalizeDocumentId`): se quitan
        espacios, puntos y guiones; 9 dígitos → 10 y 12 → 13 restituyendo el
        cero inicial. Se buscan las cuentas de la whitelist Xtrim con ese
        documento. Solo lee la base propia: cero llamadas a sistemas externos.


        **LOPDP:** el documento es solo el criterio de búsqueda; **nunca** sale
        en la respuesta (ni `documentId` ni `cpartyId`) y se redacta en el log de
        peticiones. Se prefiere `POST /accounts/lookup` para que tampoco viaje en
        la URL.


        **`order`** (nº de orden FSM, p. ej. `ORDER/424900/2026`): reconocido
        pero responde **501 `NOT_IMPLEMENTED`**. `fsm-data-ms` no expone una
        consulta orden → cuenta (`/workorder/tasks` devuelve tareas y notas sin
        cuenta ni cpartyId) y la whitelist no guarda órdenes. Se habilitará
        cuando la operadora publique ese endpoint.
      operationId: lookupAccounts
      parameters:
        - name: document
          in: query
          required: false
          schema: { type: string, maxLength: 32 }
          description: Cédula (10), RUC (13) u otro documento. Mínimo 6 caracteres tras normalizar.
        - name: order
          in: query
          required: false
          schema: { type: string, maxLength: 120 }
          description: Nº de orden FSM. Hoy siempre 501.
      responses:
        '200':
          description: >
            OK. Sin coincidencias → `matches: []` (no es error). Si la whitelist
            nunca se importó → `reason: WHITELIST_EMPTY`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLookupResult'
              examples:
                varias:
                  summary: Documento con varias cuentas (el técnico elige)
                  value:
                    by: document
                    documentKind: CEDULA
                    matches:
                      - accountNumber: '35070291'
                        status: ACTIVO
                        city: GUAYAQUIL
                        node: AR7S
                        businessType: Combo Tv - Int
                        accountType: Residencial
                        accessType: Sin Registro
                        fullName: PEREZ GOMEZ JUAN CARLOS
                      - accountNumber: '40999888'
                        status: SUSPENDIDO
                        city: GUAYAQUIL
                        node: AR7S
                        businessType: Internet GPON
                        accountType: Residencial
                        accessType: Mora Dia 31
                        fullName: PEREZ GOMEZ JUAN CARLOS
                    count: 2
                    truncated: false
                    importedAt: '2026-09-26T22:07:00.000Z'
                ninguna:
                  summary: Sin coincidencias
                  value:
                    by: document
                    documentKind: CEDULA
                    matches: []
                    count: 0
                    truncated: false
                    importedAt: '2026-09-26T22:07:00.000Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '501':
          description: Búsqueda por `order` todavía no disponible.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: NOT_IMPLEMENTED
                message: >-
                  El ingreso por número de orden todavía no está disponible: FSM
                  no expone una consulta de orden a cuenta. Ingresa con el número
                  de cuenta o la cédula.
                meta:
                  lookup: order
                  order: ORDER/424900/2026
                  requires: Endpoint FSM orden→cuenta (pendiente con la operadora).
    post:
      tags: [Datos del Cliente]
      summary: Igual que el GET, con el criterio en el cuerpo (preferido)
      operationId: lookupAccountsPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                document: { type: string, maxLength: 32 }
                order: { type: string, maxLength: 120 }
            example:
              document: '0912345678'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLookupResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '501':
          description: Búsqueda por `order` todavía no disponible.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /terminals/{id}:
    get:
      tags: [Diagnóstico de Red]
      summary: Estado del equipo, de la red y evento asociado
      description: >
        Ficha puntual del equipo del cliente: estado del terminal, estado de
        la red y evento (daño) asociado. `id` es el serial GPON (fibra) o la
        MAC del cablemódem (HFC); las MAC se aceptan con o sin separadores.
        Origen real: ISP Monitor (`GET /api/isp/terminals/{id}`).
      operationId: getTerminal
      parameters:
        - $ref: '#/components/parameters/TerminalIdPath'
        - $ref: '#/components/parameters/TechnologyHintQuery'
      responses:
        '200':
          description: >
            OK. Si el identificador no existe en ISP Monitor, `found` es false
            (la API de operadora responde 204 en ese caso).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /terminals/{id}/diagnostics:
    get:
      tags: [Diagnóstico de Red]
      summary: Panel completo de ISP Monitor (campos 9-12)
      description: >
        Ficha del equipo más las series de las últimas 24 horas (estado, señal
        a ruido y errores FEC, cada una para el terminal y para la red) en una
        sola llamada.

        Solo se consulta lo que aplica: primero la ficha y, según la tecnología
        que devuelva, las series. En GPON las cuatro series DOCSIS no se piden
        (la operadora responde 204) y en un identificador inexistente no se pide
        ninguna, así que el panel cuesta 3 llamadas upstream en fibra y 7 en
        HFC. Lo omitido se reporta en `skipped`.

        Las series que sí aplican se consultan en paralelo, con un tope global
        de concurrencia y un cache corto (`TEC_API_MAX_CONCURRENCY`,
        `TEC_API_CACHE_TTL_MS`): la operadora no impone un límite de peticiones
        pero pidió no abusar, y todas las consultas van contra producción. Si
        alguna falla, el resto igual se devuelve y el fallo se reporta en
        `errors`.


        **Por tecnología (2026-09-30).** `technology` (`HFC` | `GPON`) decide
        qué bloque viene lleno: `docsis` (HFC: potencias y SNR downstream/
        upstream por canal, FEC) o `gpon` (ONT/ONU: potencia óptica Rx/Tx,
        OLT/puerto PON/ONU id, estado de la ONU, distancia, temperatura,
        voltaje). El otro bloque es `null`: la app NO debe mostrar DOCSIS a un
        ONT. `outages` trae cada caída de las últimas 24 h con inicio y fin en
        UTC (`…Z`) y en hora de Ecuador (`…-05:00`), duración y causa.


        **Real vs simulado.** ISP Monitor publica solo el estado up/down 24 h,
        SNR y FEC upstream (HFC) y la red de acceso. De ahí salen, REALES, las
        caídas (inicio/fin/duración), `uptime`, el SNR upstream por canal y los
        FEC. Las potencias DOCSIS, el downstream y TODA la capa óptica GPON no
        los publica la operadora: van SIMULADOS (deterministas por id) y
        marcados con `simulated: true` y `sources.*: SIMULATED`. La causa de la
        caída (LOS / dying gasp / T3-T4) solo la simula el mock; en real es
        `UNKNOWN`. Con el conector en mock, `simulated: true` en la raíz.
      operationId: getTerminalDiagnostics
      parameters:
        - $ref: '#/components/parameters/TerminalIdPath'
        - $ref: '#/components/parameters/TechnologyHintQuery'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalDiagnostics'
              examples:
                gpon:
                  summary: ONT ZTE (GPON) — extracto de los campos nuevos
                  value:
                    id: ZTEGD3F9BBE5
                    technology: GPON
                    technologySource: ISP_MONITOR
                    simulated: false
                    docsis: null
                    gpon:
                      technology: GPON
                      simulated: true
                      sources: { optical: SIMULATED, onuState: ISP_MONITOR, accessNetwork: ISP_MONITOR, oltTopology: SIMULATED }
                      onu: { serial: ZTEGD3F9BBE5, onuId: 28, state: ONLINE, stateLabel: En línea }
                      olt: { name: OLT-QUI-06, ponPort: 0/2/9, accessNetworkIds: [9198] }
                      optical: { rxPowerDbm: -22.14, txPowerDbm: 3.25, oltRxPowerDbm: -24.85 }
                      distanceMeters: 10043
                      temperatureC: 42.8
                      voltageV: 3.3
                      biasCurrentMa: 21.3
                      thresholds:
                        rxPowerDbm: { min: -27, max: -8, warnBelow: -25 }
                        txPowerDbm: { min: 0.5, max: 5 }
                        oltRxPowerDbm: { min: -28, max: -8 }
                        temperatureCMax: 70
                        voltageV: { min: 3.1, max: 3.5 }
                      health: OK
                      measuredAt: '2026-09-30T16:42:22.843Z'
                    outages:
                      source: ISP_MONITOR
                      causeSource: NONE
                      simulated: false
                      timezone: America/Guayaquil
                      window: { from: '2026-09-29T16:45:00.000Z', until: '2026-09-30T16:42:22.843Z', hours: 24 }
                      count: 1
                      totalDownSeconds: 1500
                      items:
                        - startedAt: '2026-09-30T12:10:00.000Z'
                          startedAtLocal: '2026-09-30T07:10:00.000-05:00'
                          endedAt: '2026-09-30T12:35:00.000Z'
                          endedAtLocal: '2026-09-30T07:35:00.000-05:00'
                          durationSeconds: 1500
                          ongoing: false
                          cause: UNKNOWN
                          causeLabel: Causa no informada por el monitoreo
                          precisionSeconds: 300
                          simulated: false
                    uptime: { seconds: 14843, since: '2026-09-30T12:35:00.000Z', sinceLocal: '2026-09-30T07:35:00.000-05:00', lowerBound: false, source: ISP_MONITOR }
                hfc:
                  summary: Cablemódem (HFC) — extracto de los campos nuevos
                  value:
                    id: 384C90A2DB11
                    technology: HFC
                    technologySource: ISP_MONITOR
                    simulated: false
                    gpon: null
                    docsis:
                      technology: HFC
                      simulated: true
                      sources: { snrUpstream: ISP_MONITOR, snrDownstream: SIMULATED, power: SIMULATED, codewords: ISP_MONITOR }
                      downstream:
                        powerDbmv: 1.9
                        snrDb: 37.4
                        channels:
                          - { channelId: DS1, direction: downstream, label: Downstream 1, frequencyMHz: 579, powerDbmv: 2.1, snrDb: 37.5, modulation: 256-QAM, simulatedFields: [frequencyMHz, powerDbmv, snrDb, modulation] }
                      upstream:
                        powerDbmv: 43.2
                        snrDb: 35.1
                        channels:
                          - { channelId: '5000016', direction: upstream, label: Logical Upstream Channel 0/1.0/0, frequencyMHz: 18.8, powerDbmv: 43.4, snrDb: 36.2, modulation: 64-QAM, simulatedFields: [frequencyMHz, powerDbmv, modulation] }
                          - { channelId: '5000018', direction: upstream, label: Logical Upstream Channel 0/1.1/0, frequencyMHz: 25.2, powerDbmv: 43.0, snrDb: 34.0, modulation: 64-QAM, simulatedFields: [frequencyMHz, powerDbmv, modulation] }
                      codewords: { correctedPercent: 2, uncorrectedPercent: 0.05 }
                      thresholds:
                        downstreamPowerDbmv: { min: -7, max: 7 }
                        downstreamSnrDbMin: 33
                        upstreamPowerDbmv: { min: 35, max: 51 }
                        upstreamSnrDbMin: 27
                        uncorrectedPercentMax: 0.1
                      health: OK
                      measuredAt: '2026-09-30T16:42:22.845Z'
                    outages:
                      source: ISP_MONITOR
                      causeSource: NONE
                      simulated: false
                      timezone: America/Guayaquil
                      window: { from: '2026-09-29T16:45:00.000Z', until: '2026-09-30T16:42:22.845Z', hours: 24 }
                      count: 1
                      totalDownSeconds: 1943
                      items:
                        - startedAt: '2026-09-30T16:10:00.000Z'
                          startedAtLocal: '2026-09-30T11:10:00.000-05:00'
                          endedAt: null
                          endedAtLocal: null
                          durationSeconds: 1943
                          ongoing: true
                          cause: UNKNOWN
                          causeLabel: Causa no informada por el monitoreo
                          precisionSeconds: 300
                          simulated: false
                    uptime: { seconds: null, since: null, sinceLocal: null, lowerBound: false, source: ISP_MONITOR }
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /terminals/{id}/series/{scope}/{metric}:
    get:
      tags: [Diagnóstico de Red]
      summary: Serie de 24 horas de una métrica
      description: >
        Serie individual de las últimas 24 horas. Combinaciones y endpoint
        upstream correspondiente:
        `terminal/status` → `/api/isp/status/{id}`;
        `network/status` → `/api/isp/network/online/{id}`;
        `terminal/snr` → `/api/isp/cablemodem/snr/{id}`;
        `network/snr` → `/api/isp/network/snr/{id}`;
        `terminal/codewords` → `/api/isp/cablemodem/codewords/{id}`;
        `network/codewords` → `/api/isp/network/codewords/{id}`.
      operationId: getTerminalSeries
      parameters:
        - $ref: '#/components/parameters/TerminalIdPath'
        - name: scope
          in: path
          required: true
          description: Ámbito de la serie — el equipo del cliente o la red/nodo.
          schema:
            type: string
            enum: [terminal, network]
        - name: metric
          in: path
          required: true
          description: >
            Métrica: `status` (disponibilidad, campo 12), `snr` (señal a
            ruido, campo 10) o `codewords` (FEC corregidos y sin corregir,
            campo 11).
          schema:
            type: string
            enum: [status, snr, codewords]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Series24h'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/network-metrics:
    get:
      tags: [Diagnóstico de Red]
      summary: Métricas de red del cliente
      description: >
        Niveles de señal RX/TX (GPON y HFC), señal a ruido (HFC), FEC
        corregidos y sin corregir (HFC), caídas en 24 horas y tráfico de
        internet (campos 9-13). Origen real: ISP Monitor.
      operationId: getNetworkMetrics
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/{accountNumber}/node-events:
    get:
      tags: [Diagnóstico de Red]
      summary: Daños (eventos) en la red de acceso
      description: >
        Eventos o daños de la red que da servicio a la cuenta (campo 14).
        Origen real: RMS — todavía en mock.

        La ruta, el `operationId` y el esquema conservan el término "node" del
        Excel original y del contrato ya publicado. En pantalla se dice "red de
        acceso": la operadora aclaró (2026-08-27) que "nodo" no es un concepto
        de su red — sus datos salen de tarjetas de CMTS o de puertos de OLT.
        Cuando haya credenciales de RMS habrá que confirmar qué agrupa
        realmente este endpoint.
      operationId: getNodeEvents
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NodeEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/lan-devices:
    get:
      tags: [Diagnóstico de Red]
      summary: Equipos en la red local (tabla DHCP)
      description: >
        Lista de equipos conectados en la red local del cliente
        (campo 19). Origen real: ISP / ACS.
      operationId: getLanDevices
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LanDevice'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/wifi-devices:
    get:
      tags: [Diagnóstico de Red]
      summary: Dispositivos conectados por WiFi
      description: >
        Dispositivos conectados por WiFi en cada banda (2.4 y 5 GHz) con
        su nivel de señal (campo 20). Origen real: ISP / ACS.
      operationId: getWifiDevices
      parameters:
        - $ref: '#/components/parameters/AccountNumberPath'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WifiDevice'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /accounts/{accountNumber}/wifi-config:
    parameters:
      - $ref: '#/components/parameters/AccountNumberPath'
    get:
      tags: [Diagnóstico de Red]
      summary: Configuración WiFi actual
      operationId: getWifiConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Diagnóstico de Red]
      summary: Cambiar SSID y contraseña
      description: >
        Cambia el SSID y la contraseña del WiFi del cliente (campo 21).
        Operación sensible. Origen real: ACS.
      operationId: updateWifiConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WifiConfigUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WifiConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ====================================================================
  # TAREAS Y VISITAS (campos 15-16)
  # ====================================================================

  /accounts/{accountNumber}/visits:
    get:
      tags: [Tareas y Visitas]
      summary: Visitas de la cuenta con su resultado (lista unificada)
      description: >
        Todas las órdenes de trabajo de la cuenta, **una entrada por orden**,
        cada una etiquetada con su resultado. Reemplaza a
        `unsatisfactory-tasks` y `previous-visits`.


        Orden de `items`: primero las `PENDIENTE` (orden sin terminar, fecha de
        creación desc) y después el resto por `occurredAt` desc. En FSM una
        cuenta tiene como mucho UNA orden pendiente —la próxima visita—;
        `pendingCount` informa cuántas llegaron (si llega más de una se
        muestran todas y el backend lo registra como anomalía).


        Clasificación:

        - `CANCELADA`: `state` de la orden es "Cancelado" (sin distinguir
          mayúsculas ni tildes). No se abren sus tareas.

        - `PENDIENTE`: la orden no terminó (`endDate` nulo).

        - `INSATISFACTORIA` / `SATISFACTORIA`: las `FSM_ORDERS_MAX_FANOUT`
          (5) órdenes finalizadas no canceladas más recientes se abren con
          `/workorder/tasks`. INSATISFACTORIA si alguna tarea lo es (notas =
          las de esas tareas); si no, SATISFACTORIA (notas = las de la última
          tarea cerrada). `technician` = `lastModifyUser` de esa tarea.
          `notesLoaded: true`.

        - `REALIZADA`: finalizada pero sin verificar — quedó fuera del
          fan-out, o la lectura de sus tareas falló. `notesLoaded: false`; el
          cliente puede pedir las notas con `GET /workorders/tasks?workOrder=`.


        **1 + ≤5 llamadas upstream**, concurrencia `FSM_API_MAX_CONCURRENCY`.
        Un fallo de token en cualquier llamada es 503 `UPSTREAM_AUTH_ERROR`
        (nunca 401).


        **`?include=records` (2026-09-30)** — reemplaza al "historial de la
        app": cada visita trae `records` con lo que se hizo y qué datos arrojó
        (speedtest de la app y del dispositivo externo, ping, traceroute, señal
        WiFi, distancia, equipos retirados y, desde el 2026-09-30, ubicación
        casa cliente `clientLocation`, por `capturedAt`; desde el 2026-10-01,
        validación de equipo vs plan `deviceValidation`, por `createdAt`) y un `checklist` de qué se hizo y
        qué no. Asociación: (1) `taskId` del registro == `workOrder` o
[...]
